<style>
#privacy{ background-color:#fff; text-align:left; padding:100px 0px; }
.container{ max-width:728px; }
h1{ font-size:3em; margin-bottom:60px; margin-top:50px; }
h2{ font-size:1.5em; font-weight:700; margin-top:15px; }
a{ color:var(--primary-color); font-weight:700; }

table{ margin:40px 0px; }
th{ color:var(--font-color); padding:3px 0px; }
tr:first-child{ border-bottom:none; }
tr{ border-bottom:1px dotted #05416b55; margin:0px 10px; }
td{ padding:10px 0px; }
</style>

<div id="privacy">
  <div class="container">
    <h1>Обработка персональных данных</h1>

    <h2>1. Цель Политики обработки персональных данных</h2>
    Цель Политики обработки персональных данных – предоставить физическому лицу (субъекту данных) информацию о цели, объеме, защите и сроке обработки персональных данных во время получения данных и обработки персональных данных субъекта.
     
    <h2>2. Контролер персональных данных и его контактная информация</h2>
    Контролером обработки персональных данных является Акционерное общество «Tīrīga» (далее в тексте – АО «TĪRĪGA»), единый регистрационный номер: 40203215318, юридический адрес: улица Виеталвас, 5A, Рига, LV-1009, телефон <a href="tel:1848">1848</a>, 
    Эл.почта:  <a href="mailto:info@tiriga.lv" target="_blank">info@tiriga.lv</a> .

    Для получения информации по вопросам, связанным с обработкой персональных данных, следует связаться с Центром обслуживания клиентов АО «TĪRĪGA». Позвонив по телефону <a href="tel:1848">1848</a>, написав на электронный адрес <a href="mailto:info@tiriga.lv" target="_blank">info@tiriga.lv</a> или обратившись по юридическому адресу АО «TĪRĪGA», можно задать вопросы об обработке персональных данных. Требование об осуществлении своих прав можно подать в соответствии с пунктом 12 данного документа.
     
    <h2>3. Сфера применения документа</h2>
    Персональные данные – это любая информация об идентифицированном или идентифицируемом физическом лице. Определения, пояснения и категории персональных данных указаны в Приложении № 1.<br /> 
    Политика конфиденциальности применяется для обеспечения конфиденциальности и защиты персональных данных в отношении:<br /> 
        • физических лиц – клиентов, работников и других пользователей услуг (в том числе потенциальных, бывших и нынешних), а также третьих лиц, которые в связи с предоставлением услуг физическому лицу (Клиенту) получают или передают АО «TĪRĪGA» любую информацию (в том числе контактные лица, плательщики и др.);<br /> 
        • посетителей офисов, Центра обслуживания клиентов АО «TĪRĪGA»; <br /> 
        • работников офиса АО «TĪRĪGA», где ведется видеонаблюдение;<br /> 
        • посетителей веб-сайтов АО «TĪRĪGA» (далее в тексте – «Клиенты»).<br /> 
    АО «TĪRĪGA» заботится о конфиденциальности и защите персональных данных Клиентов, соблюдая права Клиентов на законность обработки персональных данных в соответствии с применимыми правовыми актами – Законом о защите данных физических лиц, Регламентом № 2016/679 Европейского парламента и Совета от 27 апреля 2016 года о защите физических лиц при обработке персональных данных и о свободном обращении таких данных (Регламент) и другими применимыми правовыми актами в области конфиденциальности и обработки данных.<br /> 
    Политика конфиденциальности относится к обработке данных независимо от того, в какой форме и/или среде Клиент предоставляет персональные данные (на веб-сайтах АО «TĪRĪGA», в бумажном формате или по телефону) и в каких системах предприятия или в бумажной форме они обрабатываются.<br /> 
    В отношении специфических видов обработки данных (например, обработки файлов cookies и др.), среды, целей могут быть установлены дополнительные специфические условия, о чем Клиенту сообщается в момент, когда он предоставляет соответствующие данные АО «TĪRĪGA».
     
    <h2>4. Цели обработки персональных данных</h2>
    АО «TĪRĪGA» обрабатывает персональные данные с целью предоставления услуг и продажи товаров:<br /> 
        • для идентификации клиентов и подготовки предложения;<br /> 
        • для подготовки, заключения, дополнения, перезаключения и расторжения договора;<br /> 
        • для обслуживания клиентов;<br /> 
        • для доставки товаров (контейнеров) и предоставления услуг (выполнения договорных обязательств);<br /> 
        • для обеспечения/поддержания действия услуг;<br /> 
        • для улучшения имеющихся и развития новых товаров и услуг;<br /> 
        • для стимулирования использования, рекламы и распространения услуг, то есть для коммерческих целей;<br /> 
        • для рассмотрения и обработки рекламаций;<br /> 
        • для измерения удовлетворенности, удержания, повышения лояльности клиентов;<br /> 
        • для администрирования расчетов; <br /> 
        • для оценки кредитоспособности, надзора за кредитами; <br /> 
        • для возврата и взыскания долгов; <br /> 
        • для поддержания и улучшения работы веб-сайтов.<br /> 
    АО «TĪRĪGA» обрабатывает персональные данные с целью планирования и анализа бизнеса:<br /> 
        • для учета, планирования и статистики;<br /> 
        • для обеспечения качества данных и измерения эффективности;<br /> 
        • для проведения исследований рынка и общественного мнения; <br /> 
        • для подготовки отчетов;<br /> 
        • для проведения опросов клиентов.<br /> 
    АО «TĪRĪGA» обрабатывает персональные данные для предоставления информации органам государственного управления и субъектам оперативной деятельности в установленных внешними нормативными актами случаях и объеме, а также в других специфических целях, о которых Клиенту сообщается в момент, когда он предоставляет соответствующие данные АО «TĪRĪGA».
     
    <h2>5. Правовое основание обработки персональных данных</h2>
    АО «TĪRĪGA» обрабатывает персональные данные Клиента на следующих правовых основаниях:<br /> 
        • для заключения и выполнения договора – чтобы заключить договор по заявке Клиента и обеспечить его выполнение;<br /> 
        • для выполнения требований нормативных актов – чтобы выполнить обязанности АО «TĪRĪGA», установленные внешними нормативными актами;<br /> 
        • по согласию Клиента – субъекта данных;<br /> 
        • законные (легитимные) интересы – чтобы осуществить законные (легитимные) интересы АО «TĪRĪGA», вытекающие из закона или из существующих между АО «TĪRĪGA» и Клиентом обязательств, или из заключенного между ними договора.<br /> 
    Законными (легитимными) интересами АО «TĪRĪGA» является:<br /> 
        • вести коммерческую деятельность;<br /> 
        • предоставлять услуги по сбору и сортировке отходов;<br /> 
        • проверять личность Клиента до заключения договора или во время обслуживания – по телефону, в электронном виде, очно;<br /> 
        • обеспечивать выполнение договорных обязательств;<br /> 
        • устранять необоснованные финансовые риски для своей коммерческой деятельности (в том числе проводить оценку кредитного риска до продажи товаров и услуг и во время выполнения договора);<br /> 
        • сохранять заявки и заявления Клиентов о покупке товаров и предоставлении услуг, другие заявки и заявления, примечания о них, в том числе устные, сообщенные в телефонные центры, через веб-сайты и в среде самообслуживания;<br /> 
        • анализировать работу домашних страниц, веб-сайтов и мобильных приложений АО «TĪRĪGA», разрабатывать и внедрять их улучшения;<br /> 
        • администрировать учетную запись Клиента на домашних страницах, веб-сайтах и в мобильных приложениях АО «TĪRĪGA»;<br /> 
        • осуществлять действия для удержания Клиентов;<br /> 
        • сегментировать базу данных Клиентов для более эффективного обеспечения услуг;<br /> 
        • разрабатывать и развивать товары и услуги;<br /> 
        • рекламировать свои товары и услуги, отправляя коммерческие сообщения;<br /> 
        • отправлять другие сообщения о ходе выполнения договора и существенных для выполнения договора событиях, а также проводить опросы Клиентов о товарах и услугах и опыте их использования;<br /> 
        • информировать об изменениях в порядке предоставления услуги и прейскуранте;<br /> 
        • информировать Клиентов о новостях в отрасли;<br /> 
        • обеспечивать образовательные мероприятия о среде;<br /> 
        • обеспечивать содержание контейнеров для отходов;<br /> 
        • предотвращать мошенничество;<br /> 
        • обеспечивать корпоративное управление, финансовый и бизнес-учет и аналитику;<br /> 
        • обеспечивать эффективные процессы управления предприятием;<br /> 
        • обеспечивать эффективность предоставления услуг и продажи и доставки товаров;<br /> 
        • обеспечивать и улучшать качество услуг;<br /> 
        • администрировать платежи;<br /> 
        • администрировать своевременно не произведенные платежи;<br /> 
        • обращаться в органы государственного управления и оперативной деятельности и в суд для защиты своих правовых интересов;<br /> 
        • информировать общество о своей деятельности.
     
    <h2>6. Правила обработки данных от контролера другому контролеру данных</h2>
    Данные правила обработки данных применимы только к обработке персональных данных, вытекающих из договоров об услугах, которые АО «TĪRĪGA» предоставляет другое юридическое лицо.<br /> 
    Обе Стороны действуют как независимые контролеры данных.<br /> 
    Стороны принимают соответствующие технические и организационные меры, чтобы обеспечить безопасность обработки персональных данных.<br /> 
    Сторона немедленно, но не позднее 2 (двух) рабочих дней информирует вторую Сторону о полученном требовании субъекта данных, если оно относится к осуществляемой второй Стороной обработке персональных данных или влияет на нее (например, требование ограничить обработку данных) или на персональные данные (например, требование исправить данные). Стороны добросовестно сотрудничают друг с другом (например, обмениваясь информацией об обработке персональных данных), чтобы выполнить обоснованные требования субъектов данных, а также чтобы обеспечить точность данных на протяжение всей их обработки.
     
    <h2>7. Обработка персональных данных</h2>
    АО «TĪRĪGA» обрабатывает данные Клиента, используя возможности современных технологий, принимая во внимание существующие риски конфиденциальности и разумно доступные АО «TĪRĪGA» организационные, финансовые и технические ресурсы.<br /> 
    АО «TĪRĪGA» может принимать в отношении Клиента автоматизированные решения. Клиенту сообщается о таких действиях АО «TĪRĪGA» отдельно в соответствии с нормативными актами. Клиент может возразить против принятия автоматизированных решений в соответствии с правовыми актами, при этом осознавая, что в отдельных случаях это может ограничить право Клиента использовать отдельные потенциально доступные ему возможности (например, получать коммерческие предложения).<br /> 
    Принятие автоматизированных решений, создающих для Клиента правовые последствия, (например, подтверждение или отклонение заявки Клиента) может осуществляться только в ходе заключения или выполнения договора между АО «TĪRĪGA» и Клиентом или на основании явного согласия Клиента.<br /> 
    Для обеспечения качественного и оперативного выполнения обязательств по заключенному с Клиентом договору АО «TĪRĪGA» может уполномочить своих партнеров по сотрудничеству осуществить отдельные поставки товаров или предоставление услуг, например, работы по установке, отправку счетов и т. п. Если при выполнении этих поручений партнеры по сотрудничеству АО «TĪRĪGA» обрабатывают находящиеся в распоряжении АО «TĪRĪGA» персональные данные Клиента, соответствующие предприятия группы АО «TĪRĪGA» или партнеры по сотрудничеству считаются операторами по обработке данных и АО «TĪRĪGA» вправе передать им для этих целей необходимые персональные данные Клиента в необходимом объеме.<br /> 
    Партнеры по сотрудничеству АО «TĪRĪGA» (в статусе оператора по обработке персональных данных) обеспечат обработку и защиту персональных данных в соответствии с требованиями АО «TĪRĪGA» и правовыми актами и будут использовать персональные данные исключительно для выполнения обязательств по договору, заключенному с Клиентом, по поручению АО «TĪRĪGA».
     
    <h2>8. Защита персональных данных</h2>
    АО «TĪRĪGA» защищает данные Клиента, используя возможности современных технологий, принимая во внимание существующие риски конфиденциальности и разумно доступные АО «TĪRĪGA» организационные, финансовые и технические ресурсы.
     
    <h2>9. Категории получателей персональных данных</h2>
    АО «TĪRĪGA» не разглашает третьим лицам персональные данные Клиента или любую информацию, полученную в ходе предоставления услуг и действия договора, в том числе информацию о полученных услугах, кроме следующих случаев:<br /> 
        • передача данных третьему лицу в рамках заключенного договора, чтобы выполнить какую-либо функцию, необходимую по договору или закону (например, банку в рамках расчетов для обеспечения услуги);<br /> 
        • доставка счетов Клиенту;<br /> 
        • почтовое отправление Клиенту об изменениях в содержании договора или прейскуранте;<br /> 
        • передача данных по четкому и ясному согласию Клиента;<br /> 
        • передача данных лицам, предусмотренным во внешних нормативных актах, по их обоснованному запросу в предусмотренном во внешних нормативных актах порядке и объеме;<br /> 
        • передача данных в случаях, установленных во внешних нормативных актах, для защиты законных интересов АО «TĪRĪGA», например, при обращении в суд или другие государственные органы против лица, нарушившего законные интересы АО «TĪRĪGA».
     
    <h2>10. Доступ субъектов третьих государств к персональным данным</h2>
    АО «TĪRĪGA» обеспечивает установленные в нормативных актах процедуры для обеспечения уровня обработки и защиты персональных данных, равносильного установленному Регламентом.
     
    <h2>11. Срок хранения персональных данных</h2>
    АО «TĪRĪGA» хранит и обрабатывает персональные данные Клиента, пока существует хотя бы один из следующих критериев:<br /> 
        • в силе договор, заключенный с Клиентом;<br /> 
        • пока в установленном внешними нормативными актами порядке АО «TĪRĪGA» или Клиент могут осуществить свои легитимные интересы (например, подать рекламацию или иск в суд и вести его);<br /> 
        • у какой-либо из сторон существует юридическая обязанность хранить данные;<br /> 
        • в силе согласие Клиента на соответствующую обработку персональных данных, если не существует другого законного основания для обработки данных.<br /> 
    После того, как закончатся вышеупомянутые обстоятельства, персональные данные Клиента удаляются.
     
    <h2>12. Доступ к персональным данным и другие права Клиента</h2>
    Клиент вправе получить установленную в нормативных актах информацию в связи с обработкой его данных. Большая часть информации для Клиента уже размещена на домашней странице mani.rvp.lv в разделе «Э-услуги», где Клиент может убедиться в правильности своих данных.<br /> 
    В соответствии с нормативными актами Клиент также имеет право запросить у АО «TĪRĪGA» доступ к своим персональным данным, их дополнение, исправление, удаление или ограничение обработки в отношении Клиента, право возразить против обработки (в том числе против обработки персональных данных, совершаемой на основании законных (легитимных) интересов АО «TĪRĪGA»), а также право на перенос данных. Эти права осуществимы, если обработка данных не вытекает из обязанностей АО «TĪRĪGA» в соответствии с действующими нормативными актами и не совершается в интересах общества.<br /> 
    Клиент может подать запрос об осуществлении своих прав:<br /> 
        • лично в письменной форме в Центрах обслуживания клиентов АО «TĪRĪGA», предъявив документ, удостоверяющий личность;<br /> 
        • удаленно через авторизацию на домашней странице в разделе «э-услуги», подписав заявление надежной электронной подписью; <br /> 
        • пока в установленном внешними нормативными актами порядке АО «TĪRĪGA» или Клиент могут осуществить свои легитимные интересы (например, подать рекламацию или иск в суд и вести его);<br /> 
        • посредством электронной почты, подписав надежной электронной подписью;<br /> 
        • через портал самообслуживания mani.rvp.lv. Получив от Клиента запрос об осуществлении его прав, АО «TĪRĪGA» проверяет личность Клиента, оценивает запрос и выполняет его в соответствии с нормативными актами.<br /> 
    Ответ АО «TĪRĪGA» отправляет Клиенту по почте на указанный им контактный адрес заказным письмом, на электронный адрес с электронной подписью по запросу Клиента или через портал самообслуживания mani.rvp.lv, по возможности принимая во внимание указанный Клиентом вид получения ответа.<br /> 
    АО «TĪRĪGA» обеспечивает выполнение требований по обработке и защите данных в соответствии с нормативными актами и в случае претензии Клиента осуществляет полезные действия, чтобы разрешить претензию. Однако, если это не удается, Клиент вправе обратиться в надзорное учреждение – Государственную инспекцию данных.
     
    <h2>13. Согласие Клиента на обработку данных и право его отозвать</h2>
    Клиент может дать согласие на обработку персональных данных, правовым основанием которой является согласие (например, анализ данных о привычках использования услуг, индивидуально подготовленная реклама и пр.), на портале самообслуживания mani.rvp.lv, через формы заявки на услуги АО «TĪRĪGA», через порталы/приложения услуг АО «TĪRĪGA», на веб-сайте АО «TĪRĪGA» и других веб-сайтах (например, через формы подписки на новости), позвонив в Телефонный центр обслуживания клиентов по номеру <a href="tel:1848">1848</a>, написав на электронный адрес <a href="mailto:klienti@tiriga.lv" target="_blank">klienti@tiriga.lv</a> или лично в Центрах обслуживания клиентов.<br /> 
    Список категорий персональных данных в отношении данных, которые могут быть обработаны по согласию Клиента и на других правовых основаниях, доступен в Приложении № 1.<br /> 
    Клиент вправе в любой момент отозвать согласие на обработку данных таким же способом, каким оно было дано, то есть через портал самообслуживания mani.rvp.lv, позвонив в Телефонный центр обслуживания клиентов по номеру <a href="tel:1848">1848</a> написав на электронный адрес <a href="mailto:klienti@tiriga.lv" target="_blank">klienti@tiriga.lv</a> или лично в Центрах обслуживания клиентов, и в таком случае дальнейшая обработка данных на основании данного ранее согласия для конкретной цели больше не будет осуществляться.<br /> 
    Отзыв согласия не влияет на обработку данных, которая осуществлялась в то время, когда согласие Клиента было в силе.<br /> 
    Отзыв согласия не прекращает обработку данных, осуществляемую на других правовых основаниях.
     
    <h2>14. Коммуникация с Клиентом</h2>
    АО «TĪRĪGA» связывается с Клиентом, используя указанную им контактную информацию (номер телефона, электронный адрес, почтовый адрес), и через домашнюю страницу www.tiriga.lv<br /> 
    Коммуникация в отношении выполнения договорных обязательств АО «TĪRĪGA» осуществляется на основании договора (замена услуги или товара (например, контейнера для отходов), информация о счетах, изменениях в услугах и др.).<br /> 
    Во время коммуникации (входящие звонки, электронные сообщения) АО «TĪRĪGA» проверяет личность Клиента по следующим критериям: <br /> 
        • телефонный звонок: контактный телефон звонящего – указан ли в договоре, номер договора, персональный код, имя, фамилия Клиента, адрес предоставления услуги;<br /> 
        • электронная почта:  электронный адрес отправителя – указан ли в договоре, номер договора, персональный код, имя, фамилия Клиента, адрес предоставления услуги;<br /> 
        • раздел «Э-услуги» на домашней странице: если Клиент авторизовался при помощи BankLink или электронной подписи, дополнительная авторизация Клиента не требуется, если Клиент не авторизовался – критерии из раздела «электронная почта»;<br /> 
        • очно: документ, удостоверяющий личность;<br /> 
        • почтовые отправления;<br /> 
        • Контактные лица – специалисты по обслуживанию Клиентов. 
     
    <h2>15. Коммерческие сообщения</h2>
    Коммуникацию в отношении коммерческих сообщений об услугах АО «TĪRĪGA» и/или третьих лиц, и других сообщений, напрямую не связанных с обеспечением услуг по договору (например, опросы Клиентов), АО «TĪRĪGA» осуществляет в соответствии с внешними нормативными актами или согласием Клиента.<br /> 
    Клиент может дать согласие на получение коммерческих сообщений от АО «TĪRĪGA» и/или ее партнеров по сотрудничеству на портале самообслуживания mani.rvp.lv, через формы заявки на услуги АО «TĪRĪGA», через порталы/приложения услуг АО «TĪRĪGA», на веб-сайте АО «TĪRĪGA» и других веб-сайтах (например, через формы подписки на новости).<br /> 
    Согласие Клиента на получение коммерческих сообщений в силе до его отзыва (также и после прекращения договора об услугах). Клиент в любое время может отказаться от дальнейшего получения коммерческих сообщений одним из следующих способов:<br /> 
        • сделав соответствующую отметку в своем профиле пользователя на портале самообслуживания АО «TĪRĪGA» mani.rvp.lv;<br /> 
        • отправив сообщение на электронный адрес <a href="mailto:klienti@tiriga.lv" target="_blank">klienti@tiriga.lv</a> ;<br /> 
        • позвонив в Телефонный центр обслуживания клиентов по номеру <a href="tel:1848">1848</a>;<br /> 
        • лично в Центрах обслуживания клиентов;<br /> 
        • использовав автоматизированную возможность отказаться от дальнейшего получения сообщений, кликнув на ссылку для отказа в конце соответствующего коммерческого (электронного) сообщения.<br /> 
    АО «TĪRĪGA» прекратит отправление коммерческих сообщений, как только будет обработан запрос Клиента. Обработка запроса зависит от технологических возможностей и может потребовать до трех суток.<br /> 
    Высказывая свое мнение в опросах и оставляя свою контактную информацию (электронный адрес, телефон), Клиент соглашается, что АО «TĪRĪGA» может связаться с ним в связи с данной им оценкой.<br /> 
     
    <h2>16. Использование файлов cookies</h2>
    «Файлы cookies» – это небольшие файлы, которые веб-сайт во время вашего посещения сохраняет на вашем компьютере или мобильном устройстве. Это позволяет серверу обобщить информацию из вашего браузера, таким образом вам не нужно вводить данные заново, когда вы возвращаетесь на веб-сайт или переходите с одной страницы на другую. Больше информации о том, как работают файлы cookies, доступно на веб-сайте cookiecentral.com.<br /> 
    Наш веб-сайт использует файлы cookies, чтобы улучшить качество предлагаемых услуг. Мы используем сессионные и постоянные файлы cookies, а также файлы cookies третьих лиц (партнеров), чтобы:<br /> 
        • опознать новых и имеющихся Клиентов;<br /> 
        • запомнить настройки вашего экрана, например, настройки контраста, цветов или размер шрифта;<br /> 
        • запомнить, давали ли вы согласие на использование наших файлов cookies на этом веб-сайте;<br /> 
        • обобщать анонимную статистику о том, как и какие из предлагаемых нами услуг вы искали;<br /> 
        • отправлять рекламу, которая наиболее соответствует вам и вашим интересам. Файлы cookies используются также, чтобы ограничить то, сколько раз вы видите рекламу, и помочь измерить эффективность рекламной кампании;<br /> 
        • обобщить достоверную информацию об использовании веб-сайта, которая позволяет нам измерить, насколько сайт соответствует нуждам его пользователей, и внести любые необходимые улучшения;<br /> 
        • анализировать интенсивность посещения веб-сайта из определенных географических регионов.<br /> 
    Пожалуйста, примите во внимание, что некоторые файлы cookies может помещать третье лицо – предоставитель услуг, выполняющий для наших нужд отдельные функции.<br /> 
    Мы сотрудничаем с третьими лицами, чтобы отследить ваши действия на нашем веб-сайте с целью улучшить наши маркетинговые мероприятия и обеспечить вас рекламой на основании вашего посещения нашего веб-сайта.<br /> 
    На веб-сайтах АО «TĪRĪGA» могут помещаться ссылки на веб-сайты третьих лиц, у которых свои правила использования и защиты персональных данных, за которые АО «TĪRĪGA» ответственности не несет.
     
    <h2>17. Прочие положения</h2>
    АО «TĪRĪGA» вправе вносить дополнения в Политику конфиденциальности, сообщая Клиенту ее актуальную версию через его учетную запись на портале самообслуживания АО «TĪRĪGA» mani.rvp.lv,а также размещая на веб-сайте АО «TĪRĪGA» и упоминая в счетах.<br /> 
    АО «TĪRĪGA» сохраняет предыдущие редакции Политики обработки персональных данных, и они доступны на веб-сайте АО «TĪRĪGA» www.tiriga.lv.
     
    <strong>Приложение № 1</strong><br /><br />
    Приложение к Политике конфиденциальности АО «TĪRĪGA» Категории данных

    <table>
    <tbody>
    <tr>
    <th>
    <p>№</p>
    </th>
    <th>
    <p>Категория данных</p>
    </th>
    <th>
    <p>Примеры</p>
    </th>
    </tr>
    <tr>
    <td>
    <p>1.</p>
    </td>
    <td>
    <p>Идентификационные данные лица</p>
    </td>
    <td>
    <p>имя, фамилия, персональный код/ID, дата рождения, номер паспорта/ID-карты</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>2.</p>
    </td>
    <td>
    <p>Контактная информация лица</p>
    </td>
    <td>
    <p>адрес, номер телефона, электронный адрес</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>3.</p>
    </td>
    <td>
    <p>Данные особых категорий (сенситивные)</p>
    </td>
    <td>
    <p>признак инвалидности</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>4.</p>
    </td>
    <td>
    <p>Данные контактных лиц клиента</p>
    </td>
    <td>
    <p>имя, фамилия, электронный адрес, номер телефона контактного лица</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>5.</p>
    </td>
    <td>
    <p>Данные клиента</p>
    </td>
    <td>
    <p>номер договора клиента, дата регистрации клиента, статус, номер клиента</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>6.</p>
    </td>
    <td>
    <p>Чрез портал самообслуживания <u><a href="http://www.rvp.lv/">mani.rvp.lv</a></u></p>
    </td>
    <td>
    <p>номер пользователя, действия на портале самообслуживания <u><a href="http://www.rvp.lv/">mani.rvp.lv</a></u></p>
    </td>
    </tr>
    <tr>
    <td>
    <p>7.</p>
    </td>
    <td>
    <p>Данные поставщика</p>
    </td>
    <td>
    <p>номер поставщика, информация о счете, адрес, номер банковского счета</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>8.</p>
    </td>
    <td>
    <p>Данные профилирования клиента (1</p>
    </td>
    <td>
    <p>принадлежность к категории, сегмент (для профилирования учитывается разрешение на анализ данных клиента)</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>9.</p>
    </td>
    <td>
    <p>Данные об услуге</p>
    </td>
    <td>
    <p>номер сервиса, название услуги, адрес услуги, цена, скидка,<br/> срок окончания скидки</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>10.</p>
    </td>
    <td>
    <p>Данные конечного устройства</p>
    </td>
    <td>
    <p>название, вид, серийный номер, MAC-адрес, номер счетчика конечного устройства</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>11.</p>
    </td>
    <td>
    <p>Данные договора об услуге</p>
    </td>
    <td>
    <p>номер договора, дата подписания/утверждения, вид, номер приложения, дата приложения</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>12.</p>
    </td>
    <td>
    <p>Данные о сделке</p>
    </td>
    <td>
    <p>номер сделки, дата, название сделки, вид, статус, информация<br/> об установке услуги</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>13.</p>
    </td>
    <td>
    <p>Данные об активности CRM (2)</p>
    </td>
    <td>
    <p>номер, вид, дата, категория, владелец активности</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>14.</p>
    </td>
    <td>
    <p>Данные о коммуникации</p>
    </td>
    <td>
    <p>вид, номер, дата, регистратор, содержание, канал входящей/исходящей коммуникации,<br/> статус доставки</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>15.</p>
    </td>
    <td>
    <p>Данные о покупке товара</p>
    </td>
    <td>
    <p>название товара, код товара, дата покупки, номер накладной, способ<br/> получения товара, цена, способ оплаты, информация по чеку, оборудование</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>16.</p>
    </td>
    <td>
    <p>Данные о покупке услуги</p>
    </td>
    <td>
    <p>информация о покупке – заказы, покупки, заявки клиента, привязанные к договору; адрес предоставления услуги</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>17.</p>
    </td>
    <td>
    <p>Данные о раздельном платеже</p>
    </td>
    <td>
    <p>номер договора о раздельном платеже, решение, график платежей</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>18.</p>
    </td>
    <td>
    <p>Данные о проверке платежеспособности</p>
    </td>
    <td>
    <p>статус о наличии внешнего долга, оценка кредитного риска, статус платежеспособности</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>19.</p>
    </td>
    <td>
    <p>Данные о расчетах</p>
    </td>
    <td>
    <p>номер счета в расчетной системе, номер банковского счета, номер, дата и сумма счета, способ получения счета, дата оплаты, сумма долга, информация о взыскании долга</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>20.</p>
    </td>
    <td>
    <p>Данные об использовании услуги</p>
    </td>
    <td>
    <p>данные, сохраняемые при голосовой услуге (3), данные, сохраняемые при услуге интернет-доступа</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>21.</p>
    </td>
    <td>
    <p>Данные о повреждениях</p>
    </td>
    <td>
    <p>номер, дата регистрации/разрешения, вид, описание повреждения</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>22.</p>
    </td>
    <td>
    <p>Данные о рекламациях</p>
    </td>
    <td>
    <p>номер, дата регистрации/разрешения, вид, описание рекламации</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>23.</p>
    </td>
    <td>
    <p>Данные об опросах клиента</p>
    </td>
    <td>
    <p>название опроса, дата отправления, дата предоставления ответа, вопросы опроса и предоставленные ответы</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>24.</p>
    </td>
    <td>
    <p>Действия на веб-сайтах АО «TĪRĪGA»</p>
    </td>
    <td>
    <p>IP-адрес, название совершенного действия, раздел веб-сайта, дата и время</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>25.</p>
    </td>
    <td>
    <p>Фотографии и изображения</p>
    </td>
    <td>
    <p>фотографии с мероприятий для клиентов, дата фотографирования</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>26.</p>
    </td>
    <td>
    <p>Видеоданные</p>
    </td>
    <td>
    <p>видео с мероприятий для клиентов, видеонаблюдение на объектах АО «TĪRĪGA», дата записи</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>27.</p>
    </td>
    <td>
    <p>Данные о записи разговоров</p>
    </td>
    <td>
    <p>записи, дата и время телефонных разговоров в рамках обслуживания клиентов АО «TĪRĪGA»</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>28.</p>
    </td>
    <td>
    <p>Данные доступа к системам</p>
    </td>
    <td>
    <p>присвоенные клиенту имена пользователя и пароли</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>29.</p>
    </td>
    <td>
    <p>Информация о согласии (4)</p>
    </td>
    <td>
    <p>отметки выраженного клиентом согласия по темам, дата и время согласия, источник</p>
    </td>
    </tr>
    <tr>
    <td>
    <p>30.</p>
    </td>
    <td>
    <p>Данные о местонахождении (5)</p>
    </td>
    <td>
    <p>адрес местонахождения контейнеров</p>
    </td>
    </tr>
    </tbody>
    </table>


    <p>
      * Примеры не содержат исчерпывающего перечисления данных, входящих в соответствующую категорию.<br />
      (1) Профилирование – любая автоматизированная обработка персональных данных, при которой оцениваются личные аспекты, связанные с физическим лицом, особенно для анализа или прогнозирования аспектов в связи с вкладом в работу, экономической ситуацией, здоровьем, личными желаниями или интересами, надежностью или поведением, местонахождением или перемещением, пока у такой обработки имеются юридические последствия в отношении физического лица или пока она похожим образом существенно влияет на физическое лицо.<br />
      (2) CRM (Customer Relationship Management) – система управления взаимоотношениями с клиентами.<br />
      (3) Сохраняемые данные – голосовая телефония (любая информация или данные, которые обрабатываются, чтобы подготавливать счета и вести учет платежей). <br />
      (4) Согласие – свободно и ясно выраженное клиентом изъявление воли, которым он разрешает обработку своих персональных данных в соответствии с информацией, предоставленной АО «TĪRĪGA».<br />
      (5) Данные о местонахождении – данные, обрабатываемые в электронном виде в системах учета. 
    <p>


  </div>
</div>