/**
 * @license
 * MyFonts Webfont Build ID 3793972, 2019-08-06T04:36:25-0400
 *
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are
 * explicitly restricted from using the Licensed Webfonts(s).
 *
 * You may obtain a valid license at the URLs below.
 *
 * Webfont: Formular-Bold by Brownfox
 * URL: https://www.myfonts.com/fonts/brownfox/formular/bold/
 *
 * Webfont: Formular by Brownfox
 * URL: https://www.myfonts.com/fonts/brownfox/formular/regular/
 *
 * Webfont: Formular-Medium by Brownfox
 * URL: https://www.myfonts.com/fonts/brownfox/formular/medium/
 *
 *
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3793972
 * Licensed pageviews: 20,000
 * Webfonts copyright: Copyright (c) 2014 by Vyacheslav Kirilenko, Gayane Bagdasaryan. All rights reserved.
 *
 * © 2019 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/39e434");


@font-face {font-family: 'Formular'; font-weight: 700;src: url('webfonts/39E434_0_0.eot');src: url('webfonts/39E434_0_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39E434_0_0.woff2') format('woff2'),url('webfonts/39E434_0_0.woff') format('woff'),url('webfonts/39E434_0_0.ttf') format('truetype');}


@font-face {font-family: 'Formular'; font-weight: 400;src: url('webfonts/39E434_1_0.eot');src: url('webfonts/39E434_1_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39E434_1_0.woff2') format('woff2'),url('webfonts/39E434_1_0.woff') format('woff'),url('webfonts/39E434_1_0.ttf') format('truetype');}


@font-face {font-family: 'Formular'; font-weight: 500; src: url('webfonts/39E434_2_0.eot');src: url('webfonts/39E434_2_0.eot?#iefix') format('embedded-opentype'),url('webfonts/39E434_2_0.woff2') format('woff2'),url('webfonts/39E434_2_0.woff') format('woff'),url('webfonts/39E434_2_0.ttf') format('truetype');}
