<script>
let lang
let types
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => { lang = v })
</script>

<style>
.splitButton button{ width:49%; margin:0px; color:white; margin-bottom:12px; margin-top:12px; padding-left:0px; padding-right:0px; height:60px; }
button.left{ float:left; border-radius:30px 0px 0px 30px; }
button.right{ float:right; border-radius:0px 30px 30px 0px; }

.newClient{ width:100%; padding-top:14px; padding-bottom:14px; }
</style>

<div class="splitButton">
    <a target="_blank" href="https://epakalpojumi.cleanr.lv/profils/ienakt"><button class="left">{lang.btnCleanR}</button></a>
    <a target="_blank" href="https://www.ecobaltiavide.lv/?parslegt=1"><button class="right">{lang.btnEcoBaltiaVide}</button></a>
</div>
<a target="_blank" href="https://mani.rvp.lv"><button class="button-2 newClient">{lang.btnNewClients}</button></a>