<script>
export let type

export let title = ''
export let href = ''

let lang
let types
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => {
  lang = v

  types = {
    'individual':'/files/contract_individual_'+lang.lang+'.pdf',
    'commerce':'/files/contract_business_'+lang.lang+'.pdf',
  }
})

const showContractSection = () => {
  document.querySelector('#renew-contract').scrollIntoView({behavior: 'smooth'}) 
}
</script>


<style>
button{
  border-radius: 27px;
  background-color: #fff;
  color: var(--font-second-color);
  border:1px solid var(--font-second-color);
  display:flex;
  margin:15px 0px;
  margin-right:10px;
  padding:10px 30px;
}
a{
  text-decoration:none;
  float:left;
}
@media( max-width:768px ){
  a{ float:none; }
  button{ margin:0px auto; margin-top:20px; }
}
</style>

<!-- <a href="{types[type]}" target="_blank">
  <button>{@html lang.contractSample}</button>
</a>
 -->

<a 
  on:click={!href?showContractSection:null} 
  target="{href?'_blank':''}" 
  href="{href?href:'javascript:;'}">
    <button>{@html title?title:lang.contractSample}</button>
</a>
