<script>
let lang
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => {
  lang = v
})

let cookieName = 'cookie_4' // can adjust for date, hour or smth like that

let showCookies = true
let cookie = docCookies.getItem( cookieName )
if( cookie != null ) showCookies = false

const agree = () => {
  docCookies.setItem( cookieName ,true)
  showCookies = false
}
</script>

<style>
#cookies{
  position:fixed;
  bottom:0px;
  left:0px;
  width:100%;
  background-color:var(--font-color);
  color:#fff;
  display:flex;
  align-items:center;
  justify-content:space-between;
  padding:10px 20px;
  margin:0px 0px;
}
button{
  margin:0px;
  white-space: nowrap;
  margin-left:20px;
}
</style>

{#if showCookies}
  <div id="cookies">
    <p>{lang.cookies}</p> 
    <button on:click={agree}>{lang.cookiesAgree}</button>
  </div>
{/if}