<script>
import { createEventDispatcher } from 'svelte'
const dispatch = createEventDispatcher()

import { scale } from 'svelte/transition'

let lang
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => {
  lang = v
})

const close = () => {
  dispatch('close')
}

export let langString
export let show = false
</script>

<style>
.info{
  box-shadow: 0 0 20px rgba(5, 65, 107, 0.18);
  border-radius: 24px;
  background-color: #eff8ff;
  padding:49px;  
  position:relative;
  margin-top:15px;
}
.btnClose{
  position:absolute;
  top:0px;
  right:0px;
  cursor:pointer;
  padding:20px;
}
</style>

{#if show}
  <div class="info" transition:scale={{duration:500}}>
    <img alt="closeInfo" src="/close.svg" class="btnClose" on:click={close} />
    {@html lang[langString]}
  </div>
{/if}