<script>
import { createEventDispatcher } from 'svelte'
const dispatch = createEventDispatcher()

let lang
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => {
  lang = v
})

const click = () => {
  dispatch('click')
}
</script>

<style>
button{
  border-radius: 27px;
  color: var(--font-second-color);
  background-color: var(--base-color);
  display:flex;
  margin:15px 0px;
  margin-right:10px;
  padding:10px 0px;
}
button img{
  margin-left:10px;
  margin-top:-7px;
  height:2em;
}
@media( max-width:768px ){
  button{ margin:0px auto; margin-top:20px; }
}
</style>

<button on:click={click}>{@html lang.btnRecyclingOptions} <img src="/info.svg" alt={lang.btnRecyclingOptions} /></button>
