<script>
let arrowup
let scrolly

const scrollTop = () => {
  window.scroll({top:0,left:0,behavior: 'smooth'})
}
</script>

<style>
.arrow-svg{ fill:var(--secondary-color); }
#arrowup{ position:fixed; bottom:30px; right:30px; width:50px; height:50px; border:1px solid var(--secondary-color); border-radius:50%; cursor:pointer; display:flex; justify-content:center; align-content:center; cursor:pointer; background-color:#FFFFFFCD; }
#arrowup svg{ width:20px; }
</style>

<svelte:window bind:scrollY={scrolly}/>

{#if scrolly > 100}
<div id="arrowup" on:click={scrollTop}>
  <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 10 14" style="enable-background:new 0 0 10 14;" xml:space="preserve">
  <g>
    <path class="arrow-svg" d="M5,14c-0.3,0-0.5-0.2-0.5-0.5V1.2c0-0.3,0.2-0.5,0.5-0.5c0.3,0,0.5,0.2,0.5,0.5v12.4C5.5,13.8,5.3,14,5,14 L5,14z M5,14"/>
    <path class="arrow-svg" d="M9.3,5.8L5,1.3L0.7,5.8L0,5.1L5,0l5,5.1L9.3,5.8z M9.3,5.8"/>
  </g>
  </svg>
</div>
{/if}