<script>

  const isopen = 0;

  const openMore = (e) => {
    let target = e.target;
    let opened = Array.from(document.querySelectorAll('.isopen'));

    opened.forEach(node => {
      node.classList.remove('isopen');
    });

    target.parentNode.classList.add('isopen');
  }
</script>

<style>

  h2{ color:var(--font-second-color); font-size:1.4em; cursor:pointer; margin-bottom:15px; font-weight: 500; }
  h2:hover {
    text-decoration: underline;
  }

  strong{
    color: var(--font-color);
  }

  table {
    width: 100%;
    text-align: center;
  }
  table tr {
    border-bottom: 1px dashed #BECED9;
  }
  table td {
    padding: 5px 10px;
    text-align: center;
  }

  ul {
    list-style: square;
    padding-left: 30px;
  }
  ul li {
    padding-top: 10px;
  }



  .body {
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;

    transform: translate(0px, -10px);
    transition: transform 300ms;
  }

  .body > p{ margin-bottom:10px; }

  .faq--item.isopen .body {
    height: auto;
    transform: translate(0px, 0px);
    margin-bottom: 30px;
  }
</style>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  1. What will the waste management price be? How is the price made up?
  </h2>

  <div class="body">
    <p>In accordance with the results of the council’s procurement, henceforth Riga will have only one service provider, thus making it possible to set a uniform rate for all residents regardless of where they live, thus preventing situations in which some residents pay more and others less, because to date the prices of various operators varied.</p>
<p>In commencing the provision of services from 15 September 2019, the charge for household waste management will be the same for all residents of Riga: EUR 17.38 /m³, not including VAT. </p>
<p>The price is made up as follows:</p>
<p>EUR 5.81: waste preparation for burial, burial and natural resources tax (NRT);</p>
<p>EUR 6.33: waste manager’s costs;</p>
<p>EUR 2.12: creation of a sorted collected waste collection system, construction of work areas;</p>
<p>EUR 3.12: provision of containers and a vehicle fleet, transport costs;</p>
<p>EUR 3.65: Value Added Tax (VAT).</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  2. What is the charge for 1 m³ of household waste management?
  </h2>

  <div class="body">
    <p>Henceforth, the charge for household waste management will be the same for all of Riga’s residents: EUR 17.38 /m³, not including VAT, or EUR 21.03 /m³, including VAT.</p>
<table >
<tbody>
<tr>
<td >
<p>Container capacity, m³</p>
</td>
<td >
<p>Costs of collecting one container, EUR, including VAT</p>
</td>
</tr>
<tr>
<td >
<p>0,24</p>
</td>
<td >
<p>5,05</p>
</td>
</tr>
<tr>
<td >
<p>0,66</p>
</td>
<td >
<p>13,88</p>
</td>
</tr>
<tr>
<td >
<p>0,77</p>
</td>
<td >
<p>16,19</p>
</td>
</tr>
<tr>
<td >
<p>1,1</p>
</td>
<td >
<p>23,14</p>
</td>
</tr>
</tbody>
</table>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  3. Every year, the charge for waste management is going up. What is the likelihood that the waste management charge in Riga is going to change? Under what circumstances?
  </h2>

  <div class="body">
    <p>In accordance with the concluded public-private-partnership agreement, price changes cannot be influenced by the service provider.  Price changes during the operating term of the agreement are only possible in individual strictly defined instances:</p>
<p>1) If tax rates change, including the NRT rate, VAT rate and the waste storage rate at landfills;</p>
<p>2) If fuel prices change;</p>
<p>3) The price is pegged to the State inflation rate;</p>
<p>4) If significant amendments are made to laws and regulations, which change the service provider’s duties.<br /><br /></p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  4. Will impoverished citizens receive discounts? Whom should I contact to arrange discounts?
  </h2>

  <div class="body">
    <p>In accordance with the concluded public-private-partnership agreement, all of Riga’s residents will have a uniform household waste management charge rate. In order to ensure that the principle of fairness is observed – Riga’s residents will all be charged the same price, no kinds of discounts will be available. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  5. What benefit will Riga and the city’s residents derive from this PPP cooperation project?
  </h2>

  <div class="body">
    <p>Benefits for the City of Riga’s residents will be as follows:</p>
<ul>
<li>one price – the same price throughout the city;</li>
<li>uniform and convenient customer service;</li>
<li>six times more sorted waste collection areas than to date;</li>
<li>six times more sorted waste collection areas than to date;</li>
<li>2,500 sorted waste collection points next to buildings;</li>
<li>positioning of 120 underground containers in order to provide waste sorting corresponding to the requirements of the Old Town of Riga;</li>
<li>single container inventory;</li>
<li>lean-tos at the biggest container sites;</li>
<li>goal-oriented education of residents;</li>
<li>new and contemporary vehicles, which will be quieter, more environmentally friendly and more unobtrusive on Riga’s streets and in apartment building courtyards. They will be regularly replaced (vehicle fleet units must not be over eight years old);</li>
<li>less waste management vehicles and less traffic jams;</li>
<li>personalised (RFID) containers;</li>
<li>high customer service standards.</li>
</ul>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  6. Why was this particular cooperation model chosen as opposed to the one similar to that of other municipalities, where procurements are arranged once every 3, 5 and 7 years?T
  </h2>

  <div class="body">
    <p>Analysing several potential solutions, this cooperation model was deemed to be the most appropriate in accordance with the vision for the development of Riga. The cooperation model is based on the financial economic estimate performed, attracting a CFCA* for evaluation of estimates conformity with the PPP** Law</p>
<p>Globally, this model is widely used, ensuring that while the private sector makes investments, the public sector retains control and oversight. Overall, the PPP is the standard practice is cases where the implementation of a project requires large investments and the council or State implements it by attracting a private investor.</p>
<p>This type of PPP has been implemented elsewhere in Latvia, for example in Sigulda, where a PPP cooperation has been established for 30 years with the local council retaining oversight of the process.</p>
<p>*CFCA – Central Finance and Contracting Agency</p>
<p>**PPP Law – Law on Public-Private Partnership</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  7. How did Riga Council’s procurement procedure take place and how was the winner chosen?
  </h2>

  <div class="body">
    <p>The competition was international and lasted for almost a year. Participation in the competition was open to any business with the relevant experience, with the capability to fulfilling the competition’s requirements, which provided for significant investments in infrastructure and technical provisioning, as well as continual provision of the required resources for waste management.</p>
<p>In July 2018, the City of Riga delegated the municipal company SIA Getliņi EKO as the public partner in the project to start a concession procedure for the selection of a private partner for management of the City of Riga’s household waste under the auspices of a public-private-partnership.</p>
<p>The competition ended in May 2019 and under the auspices of the public-private-partnership, SIA CREB Riga was chosen as the private partner. This is a company which was founded in order to participate in the competition by two waste management companies: SIA Clean R and SIA Eco Baltia vide.</p>
<p>In June 2019, SIA Getliņi EKO and SIA CREB Rīga founded a joint company Tīrīga AS (previously - AS Rīgas vides pakalpojumi), so as, in accordance with the public-private-partnership agreement, to ensure the modernisation of the household waste management system and in order to introduce convenient waste sorting solutions for the benefit of Riga’s residents.</p>
<p>Tīrīga AS will start switching customers’ household waste management service agreements from 15 July 2019, and will commence operations from 15 September<strong>.</strong></p>
<p> </p>
<p><u>The goal of the project is to develop a quality household waste management system for the City of Riga</u>. The creation of a modern waste management system corresponding to international requirements entails investments in the construction of modern waste management infrastructure including collection and its transportation of household waste and its preparation for recycling.</p>
<p><u>Under the auspices of the project, compliance with the requirements stipulated in Directive 2008/98/EC of the European Parliament and of the Council will be ensured to the fullest possible extent</u>. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  8. Why am I being denied the chance to choose a service provider – why is competition being limited?
  </h2>

  <div class="body">
    <p>The procedure according to which the waste management system is organised is decreed by the council. In accordance with municipal laws and regulations, all residents must join the municipal waste management system run by the council.</p>
<p>Riga Council, in conducting research and analysis of various possible solutions, deemed the public-private-partnership model to be the most appropriate, in accordance with the council’s development plans and the project’s objectives.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  9. Who are the real beneficiaries – company structure, owners or management?
  </h2>

  <div class="body">
    <p>The public partner of Tīrīga AS is SIA Getliņi EKO, which provides supervision of the public-private-partnership project and locations for the positioning of waste disposal sites.</p>
<p>The private partner of Tīrīga AS is SIA CREB Rīga. With the objective of participating in the public-private-partnership competition, it was founded by two environmental service providers: SIA Clean R and SIA Eco Baltia vide, which will be responsible for the provision of the service to residents.</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  10. How will service quality be improved?
  </h2>

  <div class="body">
    <p>Parallel to the provision of the waste management service, a waste management system modernisation project will be implemented, to ensure that residents have convenient access to waste sorting containers and modernising waste sorting points and the vehicle fleet with the objective of optimising the waste collection route network, reducing traffic jams and air pollution.</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  11. What benefits for Rigans are included in the new agreement? What new benefits will Rigans derive from the entry into the market of a new service provider (more precise schedules, better service, non-dripping vehicles, provision of the service on the arranged day, courtyards that it is possible to drive through or containers that are washed more often, etc.)?
  </h2>

  <div class="body">
    <p>From 15 September 2019, all of Riga’s residents will have one waste management service provider: Tīrīga AS, which will provide all residents with a uniform waste management service and identical conditions, including an identical price.</p>
<p>Parallel to the provision of the waste management service, a waste management system modernisation project will be implemented, to ensure that residents have convenient access to waste sorting containers and modernising waste sorting points and the vehicle fleet with the objective of optimising the waste collection route network, reducing traffic jams and air pollution.</p>
<p>Benefits for residents of the City of Riga are as follows</p>
<ul>
<li>one price – the same price throughout the city;</li>
<li>uniform and convenient customer service;</li>
<li>six times more sorted waste collection areas than to date;</li>
<li>2,500 sorted waste collection points next to buildings;</li>
<li>positioning of 120 underground containers in order to provide waste sorting corresponding to the requirements of the Old Town of Riga;</li>
<li>single container inventory;</li>
<li>lean-tos at the biggest container sites;</li>
<li>goal-oriented education of residents;</li>
<li>new and contemporary vehicles, which will be quieter, more environmentally friendly and more unobtrusive on Riga’s streets and in apartment building courtyards. They will be regularly replaced (vehicle fleet units must not be over eight years old);</li>
<li>less waste management vehicles and less traffic jams;</li>
<li>personalised (RFID) containers;</li>
<li>high customer service standards.</li>
</ul>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  12. Will my old container be replaced?
  </h2>

  <div class="body">
    <p>As part of the modernisation of the waste management system, containers will be monitored to check if they are damaged or in an end-of-life state – if they are, they will be replaced, but if a container is in the proper working state; initially, the container will not be changed.</p>
<p>Over the course of the next year, damaged and end-of-life containers will be replaced and fitted with radio-frequency identification or RFID* chips, which will make it possible to identify the owners and capacity of a container and to supervise its quality.</p>
<p>*RFID – the relevant chip is not harmful to the environment or people’s health. Nor does it generate radiation and is read via contact with the relevant device. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  13. Is a rental charge levied for the containers?
  </h2>

  <div class="body">
    <p>No additional charges will be made for renting a container intended for household waste. In the event that a private individual wishes to sort waste on his property, using containers, then a charge must be paid for the rental of the container in accordance with the relevant price list.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  14. What happens if I don’t sign an agreement with the new waste manager?
  </h2>

  <div class="body">
    <p>It is the duty of every resident to join the council-run household waste management system, signing an agreement with the council’s chosen service provider. In accordance with the results of the council’s public procurement, from 15 September 2019 household waste management services may only be provided by one company: Tīrīga AS.</p>
<p>All waste management agreements concluded to date are valid until 15 September this year, after which they will be rendered in valid. If an agreement is not concluded with the new service provider Tīrīga AS by the aforementioned deadline, an administrative fine may be imposed for not joining the waste management system. For private individuals, this ranges from EUR 70 to 700, while for legal entities it ranges from EUR 430 to EUR 1,400. The amount of the fine for joining a household waste management system is stipulated by Section 75 of Latvia’s Administrative Violation Code. Supervision and control is provided accordingly by the Riga Municipal Police.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  15. How big a penalty will there be for not signing an agreement? Who will issue and keep track of this?
  </h2>

  <div class="body">
    <p>The agreement with the new waste management service provider Tīrīga AS must be concluded by 15 September 2019. If an agreement is not concluded with the new service provider Tīrīga AS by the aforementioned deadline, an administrative fine may be imposed for not joining the waste management system. For private individuals, this ranges from EUR 70 to 700, while for legal entities it ranges from EUR 430 to EUR 1,400. The amount of the fine for joining a household waste management system is stipulated by Section 75 of Latvia’s Administrative Violation Code. Supervision and control is provided accordingly by the Riga Municipal Police. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  16. Who has to sign a waste management agreement?
  </h2>

  <div class="body">
    <p>From 15 July this year, all of Riga’s residents – both private individuals and legal entities - must switch their waste management agreements.</p>
<ul>
<li><strong>Residents in private houses</strong> shall switch household waste management agreements to a new service provider. This can be done digitally in an e-service environment via the website: <a href="http://www.tiriga.lv">tiriga.lv</a>, and in person at customer service centres, as well as by applying by phone, e-mail or post for the agreement to be switched.</li>
<li>The agreements of <strong>apartment building residents</strong> will be switched by the building management company, which will subsequently inform the owners of the apartments or other types of properties about this and issue a waste management invoice.</li>
<li>In the case of <strong>legal entities, </strong>agreement switching will be arranged by a property management company or, if a private territory or property is managed by the owner itself.</li>
</ul>
<p>Therefore, if waste management in the building is performed centrally by a management company, the agreement with the new service provider will be switched by the management company. If this is not done centrally, the waste management agreement must be switched by the owner.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  17. Do apartment building residents also need to sign an agreement?
  </h2>

  <div class="body">
    <p>The agreements of apartment building residents will be switched by the building management company, which will subsequently inform the owners of the apartments or other types of properties about this and issue a waste management invoice. </p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  18. What should I do if I only occasionally present at the property; for example, only during the summer and at weekends – and take my waste to my apartment (allotment territory)? After all, I pay for the apartment building’s waste collection charge.
  </h2>

  <div class="body">
    <p>The waste management agreement must be switched for all properties, where waste is generated and its collection is provided, including for properties, whose residents reside there only occasionally or rarely, e.g. hotels and garages, etc.</p>
    <p>An administrative fine, which is set by the council, may be imposed for not joining the waste management system. For private individuals, this ranges from EUR 70 to 700, while for legal entities it ranges from EUR 430 to EUR 1,400.</p>

  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  19. I am an apartment building resident and want to sign an individual waste management agreement. Is this option available to me?
  </h2>

  <div class="body">
    <p>In accordance with the Law on Administration of Residential Houses, the waste management agreement is concluded by the building management company. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  20. Can I transport waste to the Getliņi Landfill, without concluding a contract with Tīrīga AS?
  </h2>

  <div class="body">
    <p>The council has stipulated the procedure in accordance with which the household waste service will be provided by Tīrīga AS – residents are obliged to join the household waste management system run by the council and to conclude an agreement with Tīrīga AS by 15 September. Alternative options are not available.</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  21. Am I prohibited from using somebody else’s container and not signing an agreement? What will happen if I dispose of my waste near a multi-apartment house, without concluding an agreement?
  </h2>

  <div class="body">
    <p>In accordance with municipal laws and regulations, all residents must join the municipal waste management system run by the council.</p>
<p>Depositing waste into somebody else’s container is illegal and a punishable act. In the event of such violations, the Latvian State Police or Riga Municipal Police can draw up an administrative violation act (protocol), while the owners of the container are entitled to ask for compensation for losses caused by the perpetrator.</p>
<p>Implementing the waste management infrastructure modernisation project, over the course of the next year, damaged and end-of-life containers will be replaced and fitted with radio-frequency identification or RFID chips, which will make it possible to identify the owners and capacity of a container and to supervise its quality.</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  22. Who will require RFID chips? Are these harmful to health? What is the data used for?
  </h2>

  <div class="body">
    <p>The RFID chip or radio frequency identification device, which all containers will be fitted with, is not harmful to the environment or people’s health. It does not generate radiation and is read via contact with the relevant device. In the case of waste management, the RFID chip will contain information about the ownership and volume of the container, and will be read when the container is emptied. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  23. How long will the existing agreements be in force?
  </h2>

  <div class="body">
    <p>All the existing waste management agreements are valid until 15 September 2019. By that time, everyone must conclude new agreements, switching to agreements with Tīriga AS. Agreements with Tīrīga AS will be in force for 20 years.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  24. Is it possible to switch the agreement?
  </h2>

  <div class="body">
    <p>Agreements can be switched to new the waste management company Tīrīga AS can be done digitally, using e-services and in person at customer service centres.</p>
<p>Starting from 15 July this year, agreements can be switched:</p>
<ul>
<li>on the homepage: <a href="http://www.tiriga.lv">tiriga.lv</a>, using the e-service environment and the private individual’s bank authorisation data;</li>
<li>in person at one of the following Tīrīga AS customer service centres:
<ul>
<li>Pepsi Bowling Sports and Leisure Centre at Uzvaras Boulevard 10 or</li>
<li>Brīvības Street 49/53;</li>
</ul>
</li>
<li>applying for an agreement to be signed by calling <strong>1848</strong>;</li>
<li>applying for the agreement concluded electronically by e-mail: <strong>klienti@tiriga.lv</strong>;</li>
<li>a contract can also be switched by post, sending an agreement application form, which can be printed out from the homepage: <a href="http://www.tiriga.lv">tiriga.lv</a>.</li>
</ul>
<p>Customers whose waste management is already provided by SIA Clean R and/or SIA Eco Baltia Vide have access to an accelerated agreement signing procedure, applying for the conclusion of their agreement on their operator’s homepage: <a href="http://www.cleanr.lv">www.cleanr.lv</a> or <a href="http://www.ecobaltiavide.lv">www.ecobaltiavide.lv</a>, agreeing to transfer the contractual data to Tīrīga AS.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  25. Is it possible to arrange waste collection once every two months? Is such an option available?
  </h2>

  <div class="body">
    <p>All customers will have identical contractual execution terms and conditions, including the same prices, same waste collection timings and frequency.</p>
<p>Tīrīga AS will perform waste collections in accordance with the minimum frequency of waste collection is stipulated by Riga Council’s Binding Regulations No.90 of 17 December 2013,  Binding Household Waste Management Regulations</p>
<p>The relevant regulations stipulate the rubbish shall be collected as follows:</p>
<ul>
<li>in residential apartment buildings – at least 1 1 (once) a week;</li>
<li>in non-residential buildings – at least 2 (twice) a month;</li>
<li>in individual residential buildings – at least 2 (twice) a month. </li>
</ul>
<p>Pursuant to laws and regulations, these laws and regulations must be complied with by both the waste management company and the party signing the agreement.</p>
  </div>
</div>



<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  26. What is the minimum permissible waste management frequency?
  </h2>

  <div class="body">
    <p>The minimum frequency of waste collection is stipulated by Riga Council’s Binding Regulations No.90 of 17 December 2013, Binding Household Waste Management Regulations.</p>
<p>The relevant laws and regulations stipulate that waste will must be collected:</p>
<ul>
<li>in residential apartment buildings – at least 1 1 (once) a week;</li>
<li>in non-residential buildings – at least 2 (twice) a month;</li>
<li>in individual residential buildings – at least 2 (twice) a month.</li>
</ul>
<p>Pursuant to laws and regulations, these laws and regulations must be complied with by both the waste management company and the party signing the agreement.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  27. Will it possible to sort waste privately?
  </h2>

  <div class="body">
    <p>In accordance with the terms of the public-private-partnership project, Riga’s residents will be provided with extensive opportunities to sort waste both at public sorting points and at their private property, using their containers or renting Tīrīga AS containers. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  28. Where and what options will there be to sort waste publicly?
  </h2>

  <div class="body">
    <p>Under the auspices of the waste management system modernisation project, sizable waste management infrastructure will be built and existing infrastructure will be modernised, including installation of sorted household waste collection points, providing about 2,500 points that will be made available to residents. In addition, 12 sorted waste collection sites will be built.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  29. How often invoices issued and what are the payment terms and conditions?
  </h2>

  <div class="body">
    <p>In accordance with the new waste management agreement, private individuals will receive invoices 1 x quarterly, but, if necessary, at the customer’s request, invoices can also be issued once a month or once every six months. In turn, legal entities will be issued with invoices once a month. The customer has the chance to pay an invoice immediately or to payment the quarterly or half-yearly invoice, in accordance with the invoice monthly basis on a monthly basis after receiving the service.</p>
  </div>
</div>




<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  30. Why did the previous waste management company not give you my data?
  </h2>

  <div class="body">
    <p>In accordance with the Personal Data Protection Law, it is prohibited to transfer a customer’s personal data to another legal entity or a new service provider. </p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  31. When will I receive the schedule?
  </h2>

  <div class="body">
    <p>All customers who switch agreements in a timely manner will be sent the new waste collection schedule no later than two weeks before the commencement of the service. If the agreement is not signed in a timely manner, customers should bear in mind that processing the agreement can take up to one week, in which case the customer will receive the collection schedule together with the agreement.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  32. How will I know when the first collection will take place? There are often matching addresses where collections are close to one another in the new and old contract, and then the question arises of whether if it is possible to opt out of or change the collection days?
  </h2>

  <div class="body">
    <p>All customers who switch agreements in a timely manner will be sent the new waste collection schedule no later than two weeks before the commencement of the service. If it is necessary to alter the time of the first waste collection, changes in the schedule will be made at the customer's request. In order to provide a convenient service to customers, in September customers will receive text message reminders about the timing of the first waste collections.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  33. Can the collection day be changed?
  </h2>

  <div class="body">
    <p>The customer may contact Tīrīga AS and notify the company about the changes in the schedule it desired. As far as possible, the customer’s request will be reviewed and alternative solutions will be offered in accordance with the route schedule.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  34. Can the terms and conditions of the agreement be changed?
  </h2>

  <div class="body">
    <p>In accordance with the terms of the agreement, the Customer may contact Tīriga AS and notify the company about the contractual changes it desires. The desired changes will be reviewed in accordance with municipal and legislative requirements. The standard contract terms and conditions have been approved and agreed by the council.</p>
  </div>
</div>
