<script>

  const isopen = 0;

  const openMore = (e) => {
    let target = e.target;
    let opened = Array.from(document.querySelectorAll('.isopen'));

    opened.forEach(node => {
      node.classList.remove('isopen');
    });

    target.parentNode.classList.add('isopen');
  }
</script>

<style>

  h2{ color:var(--font-second-color); font-size:1.4em; cursor:pointer; margin-bottom:15px; font-weight: 500; }
  h2:hover {
    text-decoration: underline;
  }

  strong{
    color: var(--font-color);
  }

  table {
    width: 100%;
    text-align: center;
  }
  table tr {
    border-bottom: 1px dashed #BECED9;
  }
  table td {
    padding: 5px 10px;
    text-align: center;
  }

  ul {
    list-style: square;
    padding-left: 30px;
  }
  ul li {
    padding-top: 10px;
  }



  .body {
    height: 0;
    overflow: hidden;
    margin-bottom: 10px;

    transform: translate(0px, -10px);
    transition: transform 300ms;
  }

  .body > p{ margin-bottom:10px; }

  .faq--item.isopen .body {
    height: auto;
    transform: translate(0px, 0px);
    margin-bottom: 30px;
  }
</style>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  1. Каким будет тариф на управление отходами? Как формируется цена?
  </h2>

  <div class="body">
    <p>Согласно результатам закупок самоуправления, а дальнейшем в Риге будет только один поставщик услуг – это позволит применять единый тариф ко всем жителям независимо от места жительства. Таким образом исключая ситуации, когда часть населения платит больше, а другие – меньше, потому что цены различных операторов до сих пор различались.</p>
<p>Начиная оказание услуги с 15 сентября 2019 года, плата управление бытовыми отходами для всех жителей Риги будет одинаковой - 17,38 EUR/м³, не включая НДС. </p>
<p>Как формируется цена:</p>
<p>5,81 EUR – подготовка отходов для захоронения, захоронение и налог на природные ресурсы (НПР);</p>
<p>6,33 EUR – pасходы управляющего отходами;</p>
<p>2,12 EUR – cоздание системы раздельного сбора отходов, строительство площадок;</p>
<p>3,12 EUR – oбеспечение контейнеров и автопарка, транспортные расходы;</p>
<p>3,65 EUR – налог на добавленную стоимость (НДС).</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  2. Какова плата управление 1 м³ бытовых отходов?
  </h2>

  <div class="body">
    <p>Плата за управление бытовыми отходами для всех жителей Риги в дальнейшем будет одинаковой - 17,38 EUR/м³, не включая НДС, или 21,03 EUR/м³, включая НДС.</p>
<table >
<tbody>
<tr>
<td >
<p>Объем контейнера м³</p>
</td>
<td >
<p>Стоимость вывоза одного контейнера EUR, включая НДС</p>
</td>
</tr>
<tr>
<td >
<p>0,24</p>
</td>
<td >
<p>5,05</p>
</td>
</tr>
<tr>
<td >
<p>0,66</p>
</td>
<td >
<p>13,88</p>
</td>
</tr>
<tr>
<td >
<p>0,77</p>
</td>
<td >
<p>16,19</p>
</td>
</tr>
<tr>
<td >
<p>1,1</p>
</td>
<td >
<p>23,14</p>
</td>
</tr>
</tbody>
</table>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  3. Ежегодно плата за управление отходами увеличивается – может ли измениться  плата за управление отходами в Риге? В каких случаях?
  </h2>

  <div class="body">
    <p>Согласно заключенному соглашению о публично-частном партнерстве, поставщик услуги не может влиять  на изменения цены. Изменения цены в течение срока действия соглашения возможны только в отдельных, строго определенных случаях:</p>
<p>1) если меняются налоговые ставки, в т.ч. ставка НПР, ставка НДС, тариф за захоронение отходов на полигонах;</p>
<p>2) если меняются цены на топливо;</p>
<p>3) цена приравнивается в соответствии с коэффициентом инфляции  в стране;</p>
<p>4) если вносятся существенные изменения в нормативные акты, которые изменяют обязательства поставщика услуги.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  4. Будут ли применяться скидки для малообеспеченных? Куда я могу обратиться за скидками?
  </h2>

  <div class="body">
    <p>Согласно заключенному соглашению о публично-частном партнерстве, все жители Риги будут иметь единый тариф на управление бытовыми отходами. Чтобы обеспечить принцип равноправия - одинаковую цену услуги для всех жителей Риги, никакого рода скидки не будут применяться.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  5. Какую выгоду получат Рига и жители Риги от проекта сотрудничества ПЧП?
  </h2>

  <div class="body">
    <p>Преимущества для жителей Риги:</p>
<ul>
<li>одна цена - одинаковые условия во всем городе;</li>
<li>единый и удобный сервис по обслуживанию клиентов;</li>
<li>в 6 раз больше площадок для сбора сортированных отходов, чем до сих пор;</li>
<li>2500 пунктов сбора сортированных отходов возле домов;</li>
<li>размещение 120 подземных контейнеров для обеспечения сортировки отходов в соответствии с потребностями Старой Риги;</li>
<li>единый парк контейнеров;</li>
<li>навесы на больших контейнерных площадках;</li>
<li>целенаправленное образование населения;</li>
<li>новые современные автомашины, которые будут более тихими, более экологичными и менее заметными на улицах Риги и во дворах многоквартирных домов. Их регулярное обновление (единицы автопарка не должны быть старше 8 лет);</li>
<li>меньше автомашин для управления отходами, меньше заторов;</li>
<li>персонализированные (RFID) контейнеры;</li>
<li>высокие стандарты обслуживания клиентов.</li>
</ul>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  6. Почему была выбрана именно эта модель сотрудничества, а не так, как в других муниципалитетах, где закупки осуществляются раз в 3, 5, 7 лет?
  </h2>

  <div class="body">
    <p>Анализируя несколько возможных решений, эта модель сотрудничества была выбрана как наиболее подходящая в соответствии с видением развития Риги. Модель сотрудничества основывается на выполненном финансово-экономическом расчете, привязывая расчет к оценке CFLA * в соответствии с законом о ПЧП**.</p>
<p>В мире эта модель широко используется, обеспечивая, что частный  сектор осуществляет инвестиции, а публичный сектор сохраняет контроль и надзор. В целом, ГЧП является обычной практикой в случаях, когда для реализации проекта требуются крупные инвестиции, а самоуправление или государство реализует его путем привлечения частного инвестора.</p>
<p>Опыт такого проекта ПЧП также присутствует в других местах в Латвии, например, в Сигулде, где сотрудничество ПЧП установлено на 30 лет – муниципалитет сохраняет надзор за процессом.</p>
<p>*CFLA – Центральное агентство финансов и договоров</p>
<p>**Закон о ПЧП – Закон о публично-частном сотрудничестве</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  7. Как обеспечивалась процедура закупок самоуправления Риги, и как был выбран победитель?
  </h2>

  <div class="body">
    <p>Конкурс был международным и длился почти год. В конкурсе могло участвовать любое предприятие с соответствующим опытом, которое может выполнить требования конкурса, которые предполагают как крупные инвестиции в инфраструктуру и техническое обеспечение, так и необходимые ресурсы для непрерывного обеспечения управления отходами.</p>
<p>В июле 2018 года город Рига делегировал предприятие самоуправления "Getliņi EKO", как публичного партнера проекта, начать процедуру концессии для выбора частного партнера для управления бытовыми отходами города Риги в рамках публично-частного партнерства.</p>
<p>Конкурс завершился в мае 2019 года, и в качестве частного партнера в рамках публично-частного партнерства было выбрано ООО  "CREB Rīga". Это -  компания, созданная двумя управляющими отходами - ООО "Clean R" и ООО "Eco Baltia vide”.</p>
<p>В июне 2019 года ООО "Getliņi EKO" и ООО "CREB Rīga" создали совместное предприятие "Tīrīga" АО (ранее – АО “Rīgas vides pakalpojumi”), чтобы в соответствии с соглашением о публично-частном партнерстве обеспечить модернизацию системы управления бытовыми отходами и внедрить удобные для жителей Риги решения сортировки отходов.</p>
<p>“Tīrīga” АО начнет переключение клиентских договоров об услуге управления бытовыми отходами с 15 июля 2019 года, а деятельность -  с 15 сентября.</p>
<p><u>Целью проекта является развитие качественной системы управления бытовыми отходами города Рига.</u> Создание современной системы управления, отвечающей международным требованиям, предусматривает инвестиции в создание современной инфраструктуры управления отходами, которая включает в себя сбор, транспортировку и подготовку бытовых отходов к переработке. </p>
<p><u>В рамках проекта обеспечивается полное выполнение Директивы Парламента и Совета Европы 2008/98/EK</u>.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  8. Почему мне отказывают в возможности выбора поставщика услуги - почему ограничена конкуренция?
  </h2>

  <div class="body">
    <p>Порядок,  в котором организуется система управления отходами, устанавливает самоуправление. В соответствии с нормативными актами самоуправления каждый житель должен быть вовлечен в организованную самоуправлением систему управления отходами.</p>
<p>Рижская дума, проводя исследования и анализ различных возможных решений, определила модель публично-частного партнерства как наиболее подходящую в соответствии с планами развития самоуправления и целями проекта. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  9. Кто является настоящими бенефициарами - структура, владельцы, руководство предприятия?
  </h2>

  <div class="body">
    <p>Публичным партнером АО "Tīrīga" является ООО "Getliņi EKO", которое обеспечивает надзор проекта публично-частного партнерства и места для создания площадок для отходов.</p>
<p>Частным партнером АО “Tīrīga” является ООО "CREB Rīga". Для участия в конкурсе публично-частного партнерств его учредили два поставщика экологических услуг - ООО "Clean R" и ООО "Eco Baltia vide", которые будут обеспечивать поставку  услуги населению.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  10. Как будет улучшаться качество услуги?
  </h2>

  <div class="body">
    <p>Вместе с обеспечением услуги управления отходами будет реализован проект модернизации системы управления отходами, обеспечивая удобный подход к контейнерам для сортировки отходов и модернизируя пункты сортировки отходов и автопарк с целью оптимизировать сеть маршрутов вывоза отходов, уменьшить заторы и загрязнение воздуха.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  11. Каковы преимущества для рижан Риги включает новый тариф? Что нового получат рижане с приходом поставщиков новой услуги (более точные графики, лучшее обслуживание, непилотные автомобили, обеспечение услуги в согласованный день, выездные дворы, чаще мытые контейнеры)?
  </h2>

  <div class="body">
    <p>Начиная с 15 сентября 2019 года, все жители Риги будут иметь одного поставщика услуги управления отходами “Tīrīga” АО, который обеспечит всех жителей единую услуги управления отходами и равные условия, а том числе одинаковую цену.</p>
<p>Вместе с обеспечением услуги управления отходами будет реализован проект модернизации системы управления отходами, обеспечивая удобный подход к контейнерам для сортировки отходов и модернизируя пункты сортировки отходов и автопарк с целью оптимизировать сеть маршрутов вывоза отходов, уменьшить заторы и загрязнение воздуха.</p>
<p>Преимущества для жителей Риги:</p>
<ul>
<li>одна цена - одинаковые условия во всем городе;</li>
<li>единый и удобный сервис по обслуживанию клиентов;</li>
<li>в 6 раз больше площадок для сбора сортированных отходов, чем до сих пор;</li>
<li>2500 пунктов сбора сортированных отходов возле домов;</li>
<li>размещение 120 подземных контейнеров для обеспечения сортировки отходов в соответствии с потребностями Старой Риги;</li>
<li>единый парк контейнеров;</li>
<li>навесы на больших контейнерных площадках;</li>
<li>целенаправленное образование населения;</li>
<li>новые современные автомашины, которые будут более тихими, более экологичными и менее заметными на улицах Риги и во дворах многоквартирных домов. Их регулярное обновление (единицы автопарка не должны быть старше 8 лет);</li>
<li>меньше автомашин для управления отходами, меньше заторов;</li>
<li>персонализированные (RFID) контейнеры;</li>
<li>высокие стандарты обслуживания клиентов.</li>
</ul>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  12. Будет ли заменен мой старый контейнер?
  </h2>

  <div class="body">
    <p>В рамках модернизации системы управления отходами контейнеры будут обследоваться, если они повреждены или изношены - будет выполнена их замена, но если контейнер находится в рабочем состоянии, замена контейнера изначально не будет выполняться.</p>
<p>Уже в течение ближайшего года поврежденные и изношенные контейнеры будут заменены и оснащены чипами RFID*, с помощью которых будет возможно установить владельцев, объем контейнеров и контролировать качество контейнеров.</p>
<p>*RFID – соответствующий чип не наносит вреда окружающей среде, здоровью, не производит излучение, считывается при контакте с соответствующим устройством, которое его считывает.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  13. Будет ли применяться арендная плата  за контейнеры?
  </h2>

  <div class="body">
    <p>Дополнительная плата за аренду контейнеров, предусмотренных для бытовых отходов, не предусмотрена. В случае, если частное лицо в своей собственности  желает сортировать отходы, используя контейнеры, то за аренду контейнеров должна взыматься плата согласно прейскуранту.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  14. Что случится, если я не заключу договор  с новым управляющим отходов?
  </h2>

  <div class="body">
    <p>Обязанность каждого гражданина - участвовать в организованной самоуправлением системе управления бытовыми отходами, заключив договор с выбранным самоуправлением поставщиком услуг. Согласно результатам публичных закупок самоуправления с 15 сентября 2019 года только одно предприятие - АО "Tīrīga" может оказывать услуги по управлению бытовыми отходами в Риге.</p>
<p>Все заключенные до настоящего времени договора об управлении отходами действительны до 15 сентября сего года, после чего они теряют силу. Если до этого  времени договор не перезаключается с новым поставщиком услуг АО "Tīrīga",  может быть применен административный штраф за неучастие в системе управления бытовыми отходами - для физических лиц от 70 до 700 евро, а для юридических лиц - от 430 до 1400 евро. Размер штрафа за неучастие в организованной самоуправлением системе управления отходами устанавливает статья 75 Кодекса административных правонарушений Латвии. Надзор и контроль обеспечивает полиция самоуправления Риги.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  15. Какова величина штрафа за незаключенный договор, кто его выпишет, будет контролировать?
  </h2>

  <div class="body">
    <p>Договор с новым поставщиком услуг управления отходами АО "Tīrīga" должен быть заключен до 15 сентября 2019 года. Если до этого времени договор не перезаключается с новым поставщиком услуг АО "Tīrīga", может быть применен административный штраф за неучастие в системе управления бытовыми отходами - для физических лиц от 70 до 700 евро, а для юридических лиц - от 430 до 1400 евро. Размер штрафа за неучастие в организованной самоуправлением системе управления отходами устанавливает статья 75 Кодекса административных правонарушений Латвии. Надзор и контроль обеспечивает полиция самоуправления Риги.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  16. Кто должен заключить договор об управлении отходами?
  </h2>

  <div class="body">
    <p>Начиная с 15 июля договор об управлении  отходами должны перезаключить все жители Риги - как физические, так и юридические лица.</p>
<ul>
<li><strong>Жители частных домов </strong>сами переключают договора об управлении отходами с новым поставщиком услуг. Это можно сделать как дигитально в среде электронных услуг на сайте <a href="http://www.tiriga.lv">tiriga.lv</a>, так и присутственно в центрах обслуживания клиентов, а также подав заявку на перезаключение договора по телефону, электронной почте или при посредничестве почты.</li>
<li>Договора <strong>жителей многоквартирных домов </strong>перезаключают управляющие домов, которые затем информируют владельцев квартир или других объектов недвижимости и выставляют счет за управление отходами.</li>
<li>Перезаключение договоров<strong> юридических лиц </strong>обеспечивает управляющий собственностью или, если обслуживается частная территория или собственность, сам собственник.</li>
</ul>
<p>Таким образом, если в собственности управление отходами централизованно осуществляет  управляющий, договор с новым поставщиком услуг перезаключает управляющий. Если это не обеспечивается централизованно, договор об управлении отходами должен перезаключать сам владелец.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  17. Должны ли и собственники квартир заключать договор?
  </h2>

  <div class="body">
    <p>Договора жителей многоквартирных домов перезаключает управляющий, который затем информирует владельцев квартир или других объектов недвижимости и выставляют счет за управление отходами  другой объектов недвижимости и выставляет счет на управление отходами. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  18. Как действовать, если я бываю в собственности нерегулярно, например, только летом и на выходные - везти отходы в квартиру (территория сада)? Я же заплатил за отходы в многоквартирном доме.
  </h2>

  <div class="body">
    <p>Договор об управлении отходами должен быть перезаключен относительно всех объектов недвижимости, где образуются отходы и обеспечивается их вывоз, включая объекты недвижимости, в которых жители проживают нерегулярно или находятся редко, например, дачи, гаражи и т. д.</p>
<p>За неучастие в системе управления бытовыми отходами, как это устанавливает самоуправление, может быть применен административный штраф - для физических лиц от 70 до 700 евро, а для юридических лиц - от 430 до 1400 евро.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  19. Являюсь жителем многоквартирного дома и хочу заключить индивидуальный договор об управлении отходами. Есть ли у меня такая возможность?
  </h2>

  <div class="body">
    <p>В соответствии с Законом об управлении жилым фондом договор об управлении отходами заключает управляющий домом. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  20. Нельзя ли мне самому вывозить мусор на полигон Гетлини, не заключая договор с АО ”Tīrīga”?
  </h2>

  <div class="body">
    <p>Самоуправление установило порядок, что обслуживание бытовых отходов обеспечивает  АО "Tīrīga" - обязанностью жителей является участвовать в системе управления бытовыми отходами, организованной самоуправлением, и заключить договор с АО "Tīrīga" до 15 сентября. Другие возможности не обеспечены.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  21. Нельзя ли мне использовать чужой контейнер и не заключать договор? Что будет, если я выброшу отходы у жилого дома без заключения договора?
  </h2>

  <div class="body">
    <p>В соответствии с нормативными актами самоуправления каждый житель должен участвовать в системе управления отходами, организованной самоуправлением.</p>
<p>Выбрасывание отходов в чужой контейнер является незаконным и наказуемым деянием. В случае нарушения Государственная полиция Латвии или полиция самоуправления Риги может составить акт нарушения (протокол), а владельцы контейнера имеют право требовать от нарушителя возмещение причиненных убытков.</p>
<p>Осуществляя проект модернизации инфраструктуры управления отходами, уже в течение ближайшего года поврежденные и изношенные контейнеры будут заменены и оснащены чипами RFID*, с помощью которых будет возможно установить владельцев, объем контейнеров и контролировать качество контейнеров. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  22. Для кого необходимы чипы RFID, не опасны ли они для здоровья, что будет  происходить с данными?
  </h2>

  <div class="body">
    <p>Чип RFID, или устройство радиочастотной идентификации, которым будут оснащены все контейнеры, не наносит вреда окружающей среде, здоровью, не генерирует излучения, считывается при контакте с соответствующим устройством. В случае управления отходами чип RFID будет содержать информацию о принадлежности, объеме контейнера, и будет считываться во время опорожнения контейнера. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  23. Как долго будут действительными действующие договора?
  </h2>

  <div class="body">
    <p>Все действующие соглашения об управлении отходами действительны до 15 сентября 2019 года, до этого момента все должны перезаключить новые договора с АО “Tīrīga”. Договора с АО  “Tīrīga” будут действительны в течение 20 лет.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  24. Как можно перезаключить договор?
  </h2>

  <div class="body">
    <p>Перезаключение договора с новым управляющим отходами АО "Tīrīga" возможно как дигитально, пользуясь электронными услугами, так и присутственно в центрах обслуживания клиентов.</p>
<p>Начиная с 15 июля сего года договора можно перезаключить:</p>
<ul>
<li>на домашней странице <a href="http://www.tiriga.lv">tiriga.lv</a>, используя среду э-услуг и данные банковской авторизации физического лица;</li>
<li>присутственно в любом из центров обслуживания клиентов АО “Tīrīga”:
<ul>
<li>в Центре спорта и отдыха Pepsi Bowling на бульваре Узварас, 10 или</li>
<li>по улице Бривибас, 49/53;</li>
</ul>
</li>
<li>подав заявку на заключение договора по телефону <strong>1848</strong>;</li>
<li>подав заявку на заключение договора в электронном виде по электронной почте client@tiriga.lv <strong>klienti@tiriga.lv</strong>;</li>
<li>переключить договор можно по почте, выслав бланк заявки на договор, которую можно распечатана с домашней страницы <a href="http://www.tiriga.lv">tiriga.lv</a>.</li>
</ul>
<p>Клиенты, для которых уже сейчас управление отходами обеспечивает ООО "Clean R" и / или ООО "Eco Baltia Vide", доступна процедура ускоренного  заключения договора, подав заявку на переключение договора на домашней странице своего оператора <a href="http://www.cleanr.lv">www.cleanr.lv</a> или <a href="http://www.ecobaltiavide.lv">www.ecobaltiavide.lv</a>, согласившись передать данные договора  АО “Tīrīga”.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  25. Можно ли обеспечить вывоз отходов раз в два месяца? Будет ли предлагаться такая возможность?
  </h2>

  <div class="body">
    <p>Всем клиентам будут обеспечены одинаковые условия выполнения договора, включая одинаковую цену, одинаковые сроки и периодичность сбора отходов.</p>
<p>АО “Tīrīga” будет обеспечивать сбор отходов в соответствии с Правилами самоуправления Риги о минимальной частоте вывоза отходов, как это устанавливают обязательные правила Рижской думы № 90 "Обязательные правила управления бытовыми отходами" от 17 декабря 2013 года.</p>
<p>Соответствующие правила устанавливают, что отходы должны вывозиться:</p>
<ul>
<li>в многоквартирных жилых домах - не реже 1 (одного) раза в неделю;</li>
<li>в нежилых зданиях - не реже 2 (двух) раз в месяц;</li>
<li>в индивидуальных жилых домах - не реже 2 (двух) раз в месяц.</li>
</ul>
<p>В соответствии с нормативными актами эти правила должны соблюдать как управляющие отходами, так и заключающий договор.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  26. Какова минимально допустимая частота вывоза отходов?
  </h2>

  <div class="body">
    <p>Минимальную частоту вывоза отходов устанавливают обязательные правила Рижской думы № 90 "Обязательные правила управления бытовыми отходами" от 17 декабря 2013 года.</p>
<p>Соответствующие правила устанавливают, что отходы должны вывозиться:</p>
<ul>
<li>в многоквартирных жилых домах - не реже 1 (одного) раза в неделю;</li>
<li>в нежилых зданиях - не реже 2 (двух) раз в месяц;</li>
<li>в индивидуальных жилых домах - не реже 2 (двух) раз в месяц.</li>
</ul>
<p>В соответствии с нормативными актами эти правила должны соблюдать как управляющие отходами, так и заключающий договор.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  27. Будет ли возможность осуществлять  сортировку отходов в частном порядке?
  </h2>

  <div class="body">
    <p>Согласно условиям проекта публично-частного партнерства, жителям Риги будут предоставлены широкие возможности для сортировки отходов как в публичных пунктах сортировки, так и в своей частной собственности, с использованием их контейнеров или арендой контейнеров АО “Tīrīga”. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  28. Где и какие возможности будут для публичной сортировки отходов?
  </h2>

  <div class="body">
    <p>В рамках проекта по модернизации системы управления отходами будет осуществлена масштабная разработка и модернизация инфраструктуры управления сортированными отходами, включая устройство пунктов сбора сортированных бытовых отходов, обеспечив около 2500 пунктов и их доступность для жителей, а будут обустроены 12 площадок для сбора сортированных отходов. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  29. Какова частота выставления счетов и условия оплаты счетов?
  </h2>

  <div class="body">
    <p>В соответствии с новым договором об управлении отходами выставление счетов для физических лиц производится 1 раз в квартал, но при необходимости по требованию клиента счета могут выставляться 1 раз в месяц или 1 раз в полугодие. В свою очередь, счета для юридических лиц выставляется 1 раз в месяц. Клиент имеет возможность оплатить весь счет сразу же или оплатить счет за квартал и полугодие в соответствии с графиком оплаты счетов по месяцам после получения услуги.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  30. Почему предыдущий управляющий отходами не передал Вам мои данные?
  </h2>

  <div class="body">
    <p>В соответствии с Законом о защите личных данных запрещено передавать личные данные клиента другому юридическому лицу или новому поставщику услуг. </p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  31. Когда я получу свой график?
  </h2>

  <div class="body">
    <p>Всем клиентам, своевременно перезаключившим договора, новый график вывоза отходов будет выслан за две недели до начала услуги. Если договор не заключен своевременно, необходимо учитывать, что обработка договоров может занять одну неделю, и в таком случае клиент получит график вывоза вместе с  договором.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  32. Как я узнаю, когда будет первый вывоз? Часто совпадают адреса, по которым вывоз выпадает близко друг к другу по новому и старому договору, а затем следует вопрос -  можно ли отказаться или изменить дни вывоза?
  </h2>

  <div class="body">
    <p>Всем клиентам, своевременно перезаключившим договора, новый график вывоза отходов будет выслан не позднее, чем за две недели до начала услуги. Если необходимо скорректировать время первого вывоза отходов, изменения в график будут внесены по требованию клиента. Чтобы обеспечить клиентам удобное предоставление услуги, в сентябре планируется отправлять SMS-напоминания клиентам о первых вывозах отходов.</p>
  </div>
</div>

<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  33. Можно ли изменить день вывоза?
  </h2>

  <div class="body">
    <p>Клиент может связаться с АО “Tīrīga” и сообщить о желаемых изменениях в графике. Насколько это возможно, просьба клиента будет рассмотрена, и будут предложены альтернативные решения в соответствии с графиком маршрутов.</p>
  </div>
</div>


<div class="faq--item" class:isopen>
  <h2 on:click={openMore}>
  34. Можно ли изменить условия договора?
  </h2>

  <div class="body">
    <p>Клиент может связаться с АО "Tīrīga" и сообщить о желаемых изменениях в договоре в соответствии с условиями договора. Желаемые изменения будут рассмотрены и оценены в соответствии с требованиями, установленными самоуправлением и законодательством. Стандартные условия договора утверждены и согласованы самоуправлением.</p>
  </div>
</div>
