<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
.container{ max-width:1200px; }

section{ margin:80px 0px; }
h1{ font-size:3em; margin:30px 0px; padding-left:60px; }
h2{ font-size:2em; margin:30px 0px; color:var(--font-color); font-weight:500; margin-bottom:0px; }

/* left */

.column.left{ background-color:var(--base-color); padding-left:60px; padding-right:60px; }

.logo{ transform:translate(0,-5px); }

th{ color:var(--font-color); text-align:center; }
th:last-child{ padding-left:10px; }

td{ font-size:1em; padding:5px; padding-bottom:14px; }
td:nth-child(1){ padding-right:40px; }
td:nth-child(2){ color:var(--secondary-color); font-size:1.2em; font-weight:700; }
td:last-child{ color:var(--font-color); padding-left:10px; }

tr.total{ border-top:1px solid var(--font-second-color); }
tr.total td{ padding-top:14px; }

/* right */
.column.right{ padding-left:60px; }
.column.right h2{ text-align:center; padding-bottom:30px; }

.gains li{ padding-top:10px; padding-bottom:10px; padding-left:45px; width:400px; list-style-type: none; background: url('/plus.svg') no-repeat; background-position:center left; background-size: 20px; width:80%; }

@media( max-width:768px ){
  section{ margin:0px; }
  .container{ padding:0px; }
  .column.left{ padding:40px; }
  td:nth-child(1){ padding-right:10px; }
}
</style>

<section>
  <div class="container">

    <h1>{lang.changes.title}</h1>

    <div class="columns">
      <div class="column left">        
        <h2>{@html lang.changes.left.title}</h2>

        <table>
          <thead>
            <tr>
              <th></th>
              <th><img class="logo" src="/logo.svg" alt="Tiriga.lv" /></th>
              <th>{@html lang.changes.left.now}</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{lang.changes.left.lines[0]}</td>
              <td>3,12&euro;</td>
              <td>2,10&euro;</td>
            </tr>
            <tr>
              <td>{lang.changes.left.lines[1]}</td>
              <td>2,12&euro;</td>
              <td>0,76&euro;</td>
            </tr>
            <tr>
              <td>{lang.changes.left.lines[2]}<br /><br /></td>
              <td>6,33&euro;</td>
              <td>6,33&euro;</td>
            </tr>
            <tr>
              <td>{lang.changes.left.lines[3]}</td>
              <td>5,81&euro;</td>
              <td>5,81&euro;</td>
            </tr>
            <tr>
              <td>{lang.changes.left.lines[4]}</td>
              <td>3,65&euro;</td>
              <td>3,15&euro;</td>
            </tr>
            <tr class="total">
              <td>{lang.changes.left.total}</td>
              <td>21,03&euro;</td>
              <td>18,15&euro;</td>
            </tr>
          </tbody>
        </table>
        
      </div>

      <div class="column right">

        <h2>{@html lang.changes.right.title}</h2>

        <ul class="gains">
          {#each lang.changes.right.list as line}
            <li>{line}</li>
          {/each}
        </ul>

      </div>
    </div>

  </div>
</section>