<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
.copyright{ font-size:0.8em; }
.social{ height:30px; }
</style>

<footer>
  <div class="container">
    <div class="columns">
      <div class="column is-8 copyright">
        <!--Copyright. 2019 Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco
laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit
esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa
qui officia deserunt mollit anim id est laborum.-->
      </div>
      <div class="column is-4">
        <a href="https://www.facebook.com/T%C4%ABr%C4%ABga-457215558402469/" target="_blank" rel="nofollow"><img class="social" src="/facebook.svg" alt="FB" /></a>
      </div>
    </div>
  </div>
</footer>