<script>
import { toggleNavigation } from '../navigation.js'
import { fly } from 'svelte/transition'

let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)

let showMenu = false
const burgerClick = () => {
  showMenu = !showMenu
}

const menuClick = (e) => {
  if (e.target.hasAttribute('dont-close-menu')) {

  } else {
    showMenu = false
  }
}

const showContactSection = () => {
  document.querySelector('#contacts').scrollIntoView({behavior: 'smooth'})
}


const openRECYCLING = () => {
  toggleNavigation('recycling')
  window.scroll({top:0,left:0,behavior: 'smooth'})
}
const openFAQ = () => {
  toggleNavigation('faq')
  window.scroll({top:0,left:0,behavior: 'smooth'})
}
const openLOTTERY = () => {
  toggleNavigation('lottery')
  window.scroll({top:0,left:0,behavior: 'smooth'})
}
const openHome = () => {
  toggleNavigation('none')
  window.scroll({top:0,left:0,behavior: 'smooth'})
}


let languageSelectorVisible = false
const showLanguageSelector = () => {
  languageSelectorVisible = true
}
const hideLanguageSelector = () => {
  languageSelectorVisible = false
}
</script>

<style>
.header{
  position:fixed;
  top:0px; left:0px; width:100%;
  justify-content:space-between;
  align-content:center;
  height:60px;
  background-color:#fff;
  display:flex;
}
.languages{
  width:70px;
  font-weight:600;
  float:right;
  position:relative;
  text-align:center;
}
.languages div{
  text-decoration:none;
  padding-bottom:10px;
}
.languages div span{
  font-size:1.8em; font-weight:100;
}
.languages .selection{
  background-color:#fff;
  border:1px solid var(--font-color);
  border-radius:5px;
  margin-left:-15px;
}
.languages .selection a{
  padding:20px;
  display: block;
}
.navbar-burger{
  display:none;
  z-index: 100;
}
.navigation{
  padding:12px;
  display:flex;
  float:right;
  justify-content:center;
  padding-right:0px;
  margin-right:120px;
}
.navigation > span{
  cursor:pointer;
  color:var(--font-color);
  margin:10px 20px;
}
.button-2{
  margin-left:20px;
  padding:10px 30px;
  margin-right:20px;
}

.call-now{
  width: 118px;
  height: 234px;
  border-radius: 59px;
  background-color: var(--font-second-color);
  color: #fff;
  position:absolute;
  right:0px;
  top:-108px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.call-now .action-number{
  margin-bottom: 25px;
  text-align:center;
  font-size:1.2em;
}

.logo{
  height:80px;
  padding:10px;
  padding-bottom:20px;
  cursor:pointer;
}
.mobile-languages{
  display:none;
}
@media( max-width:768px ){
  .call-now{
    left:5px;
    right:auto;
  }
  .navbar-burger{
    display:block;

    position: fixed;
    top: 0;
    right: 0;
  }
  .navigation {
    display:flex;
    flex-direction:column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 10;
    background-color: #fff;
    transform: translate(200%, 0);
    transition: transform 500ms ease;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    padding-top:0px;
    text-align:center;
    margin-left:0px;
  }
  .navigation > * {
    font-size:1.6em;
    margin: 5px 0 !important;
  }
  .navigation.showMenu {
    transform: translate(0, 0)
  }

  .inner-menu {
    margin: 10px 0 0 0 !important;
    padding: 10px 0 0 0 !important;
    border-top: 1px solid rgba(0,0,0,0.3);;
  }
  /*.inner-menu a {
    display: block;
    width: 100%;

    margin: 5px 0 !important;
  }*/
  .languages{
    display:none;
  }
  .call-now{
    left:200px;
    right:auto;
  }
  .mobile-languages{
    display:block;
    padding-top:50px;
  }
  .mobile-languages a{
    padding:10px;
  }
}
</style>

<div class="header">
  <div class="container">
    <img on:click={openHome} class="logo" src="/logo.svg" alt="Logo" />

    <div role="button" class="navbar-burger {showMenu?"is-active":""}" aria-label="menu" aria-expanded="false" on:click={burgerClick}>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </div>

    <div class="navigation" class:showMenu on:click={menuClick}>

      {#if lang.lang != 'eng'}<span on:click={openLOTTERY}>{lang.news}</span>{/if}

      <span on:click={openFAQ}>{lang.faq}</span>
      <span on:click={openRECYCLING}>{lang.recycling.menu}</span>
      <span on:click={showContactSection}>{lang.contacts}</span>

      <a target="_blank" href="https://mani.rvp.lv"><button class="button-2">{lang.makeadeal}</button></a>

      <div class="mobile-languages">
        <a href="/#lat" class:active={lang.lang=='lat'}>{lang.setLangLAT}</a>
        <a href="/#rus" class:active={lang.lang=='rus'}>{lang.setLangRUS}</a>
        <a href="/#eng" class:active={lang.lang=='eng'}>{lang.setLangENG}</a>
      </div>

      <div class="languages" on:mouseover={showLanguageSelector}>
        <div class="active">{lang.lang.toUpperCase()} <span>&#8964</span></div>
        {#if languageSelectorVisible}
          <div class="selection" transition:fly={{y:-20}} on:mouseout={hideLanguageSelector}>
            {#if lang.lang != 'lat'}<a href="/#lat" class:active={lang.lang=='lat'}>{lang.setLangLAT}</a>{/if}
            {#if lang.lang != 'rus'}<a href="/#rus" class:active={lang.lang=='rus'}>{lang.setLangRUS}</a>{/if}
            {#if lang.lang != 'eng'}<a href="/#eng" class:active={lang.lang=='eng'}>{lang.setLangENG}</a>{/if}
          </div>
        {/if}
      </div>
    </div>

    <div class="call-now">
      <div class="action-number">{@html lang.callme}</div>
    </div>

  </div>
</div>
