<script>
import { onMount , onDestroy } from 'svelte'

import Button from '../components/Button.svelte'
import Recycling from '../components/Recycling.svelte'
import Info from '../components/Info.svelte'

let recyclingInfo = {
  'home':false,
  'door':false,
}

let drawingsVisible = {
  'home':{visible:false,elm:null},
  'apartment':{visible:false,elm:null},
  'door':{visible:false,elm:null},
  'business':{visible:false,elm:null},
}

let lang
import { subLang } from '../lang/lang.js';
subLang.subscribe(v => {
  lang = v

  for(let i in recyclingInfo) recyclingInfo[i] = false
})

import { draw } from 'svelte/transition'

let defAnValues = {duration:1000}
</script>

<style>
section{
  background-color:var(--base-color);
  margin:0px;
}
.columns{
  margin:0px;
  padding-bottom:50px;
}
.column.image{
  text-align:center;
  display:flex;
  justify-content:center;
  align-items:center;
}
.picplace{
  background-color:#fff;
  padding:15px;
}
.text-side{
  display:flex;
  align-items:center;
}
h1{
  font-size:3em;
  text-align:center;
  padding:20px 0px;
  margin-bottom:25px;
  font-weight:500;
}
h2{
  font-size:2.6em;
  line-height:1.3em;
  font-weight:500;
  color:var(--font-color);
}
p{
  margin-top:25px;
  font-style: normal;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.67em;
  color:var(--font-color);
}

.container{
  max-width:900px;
}

.image{ display:block; }

.columns .column:first-child{ margin-right:30px; }
.columns .column:last-child{ margin-left:30px; }

@media( max-width:768px ){
  .columns .column:first-child{ margin-right:0px; }
  .columns .column:last-child{ margin-left:0px; }

  .columns{ display:flex; flex-direction:column; height:800px; }
  .columns.reverse{ flex-direction:column-reverse; }
  .column{ text-align:center; }
}

@supports not (-webkit-overflow-scrolling: touch) {
  /*div.columns .column.image{ padding-top:0px !important; padding-bottom:0px !important; }*/
}
</style>

<section>
  <div class="container">
    <h1 data-aos="fade-in">{lang.info}</h1>

    <!-- privātmāja -->
    <div class="columns">
      <div class="column image" data-aos="fade-right">
        <div class="picplace"><img src="/home.jpg" alt="Home" /></div>
      </div>
      <div class="column text-side" data-aos="fade-left">
        <div class="description">
          <h2>{@html lang.s1title}</h2>
          {#if !recyclingInfo['home']}
            <p>{lang.s1text}</p>
          {/if}
          <Info langString="s1recycling" show={ recyclingInfo['home'] } on:close={() => { recyclingInfo['home'] = false } } />
          <Button type="individual" />
          {#if lang.lang == 'lat'}
            <Recycling on:click={()=>{ recyclingInfo['home'] = true }} />
          {/if}
        </div>
      </div>
    </div>

    <!-- apsaimniekotājs -->
    <div class="columns reverse">
      <div class="column text-side" data-aos="fade-right">
        <div class="description">
          <h2>{@html lang.s2title}</h2>
          <p>{lang.s1text}</p>
          <Button title={lang.makeDeal} href="/files/contract_business_{lang.lang}.pdf" />
        </div>
      </div>

      <div class="column image" data-aos="fade-left">
        <div class="picplace"><img src="/building.jpg" alt="Home" /></div>
      </div>
    </div>

    <!-- dzīvoklis -->
    <div class="columns">
      <div class="column image" data-aos="fade-right">
        <div class="picplace"><img src="/door.jpg" alt="Home" /></div>
      </div>
      <div class="column text-side" data-aos="fade-left">
        <div class="description">
          <h2>{@html lang.s3title}</h2>
          {#if !recyclingInfo['door']}
            <p>{lang.s3text}</p>
          {/if}
          <Info langString="s3recycling" show={recyclingInfo['door']} on:close={() => { recyclingInfo['door'] = false } } />
          <!-- <Button type="individual" /> -->
          {#if lang.lang == 'lat'}
            <Recycling on:click={()=>{ recyclingInfo['door'] = true }} />
          {/if}
        </div>
      </div>
    </div>

    <!-- juridiska persona -->
    <div class="columns reverse">
      <div class="column text-side" data-aos="fade-right">
        <div class="description">
          <h2>{@html lang.s4title}</h2>
          <p>{lang.s1text}</p>
          <Button title={lang.makeDeal} href="/files/contract_business_{lang.lang}.pdf" />
        </div>
      </div>
      <div class="column image" data-aos="fade-left">
        <div class="picplace"><img src="/business.jpg" alt="Home" /></div>
      </div>
    </div>

  </div>
</section>
