<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
section{
    padding-top:100px;
    padding-bottom:50px;
    background-color:var(--secondary-color);
    background-image:url('/stars.svg');
    background-size:1000px;
    color:var(--font-second-color);
}
.scooter{
    background-image:url('/scooters.png');
    background-size:contain;
    background-position:50% 50%;
    background-repeat:no-repeat;
    min-height:400px;
}
.column.intro{ margin:100px 0px; }
h1{ font-size:5em; color:white; line-height:1em; }
p{ font-size:1.1em; color:var(--font-second-color); margin-top:20px; margin-bottom:20px;  }
p.prize{ font-size:1em; color:#fff; }
.desc{ margin-top:10px; color:var(--font-second-color); font-size:0.8em; }
button{ padding:10px 30px; }
hr{ height:1px; background-color:var(--font-second-color); }

.winner{ background-color:var(--secondary-color); }
.winner .column:first-child{ font-size:1.4em; }
.winner .column:last-child{ font-size:1.4em; }
.winner .column p{ font-size:0.8em; }
</style>

<section>
    <div class="container">

        <div class="columns">
            <div class="column intro">
                <h1>{@html lang.lottery.title}</h1>
                <p>{lang.lottery.desc}</p>
                <p class="prize">{lang.lottery.prize}</p>
                <a href="/files/rules_{lang.lang}.pdf" target="_blank"><button class="button-2">{lang.lottery.rules}</button></a>
                <div class="desc">{lang.lottery.legal}</div>
            </div>
            <div class="column scooter">

            </div>
        </div>

        <hr />

        <div class="columns winner">
            <div class="column">
                16. augustā noskaidrots "Tīrīga" loterijas pirmās izlozes uzvarētājs, kurš savā īpašumā iegūs elektrisko skrejriteni Xiaomi.
            </div>
            <div class="column">
                Apsveicam uzvarētāju!<br />
                <b>Mārtiņš Stepiņš</b> (+371 **** 7085)
                <p>Ja arī vēlies laimēt elektrisko skrejriteni, pārslēdz līgumu ar "Tīrīga" līdz 30.augustam un piedalies izlozē! Nākamās izlozes 23. un 30.augustā.</p>
            </div>
        </div>

    </div>
</section>