<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
.intro.container{ max-width:850px; }
.intro p{ color:var(--font-second-color); padding-top:20px; padding-bottom:20px; }

h1{ font-size:3em; line-height:1em; }
h3{ padding:5px; font-size:1.1em; font-weight:700; padding-bottom:0px; }
p{ color:var(--secondary-color); padding:5px; }

.timeline{ margin-bottom:100px; margin-top:50px; position:relative; }
.timeline .container{ max-width:1200px; }
/*.timeline .column{  }*/
.timeline .column:nth-child(odd){ padding-top:200px; }
/*.timeline .column:nth-child(even){  }*/
.timeline:before { content: ''; position: absolute; bottom: 50%; border-bottom: 1px var(--font-second-color) solid; width: 100%; z-index:0; }
.stars{ position:absolute; top:50%; height:200px; transform:translateY(-50%); }

@media( max-width:768px ){
  .timeline .column:nth-child(odd){ padding-top:0px; }
  .container{ padding:20px; }
  .timeline:before{ border:none; }
  .stars{ transform:rotate(90deg); }
}
</style>

<section>
  <div class="container intro">
    <h1>{lang.timeline.title}</h1>
    <p>{lang.timeline.desc}</p>
  </div>
  <div class="timeline">

    <div class="container">

      <img src="/hr.svg" alt="Stars" class="stars" />

      <div class="columns">
        {#each lang.timeline.list as point}
        <div class="column">
          <h3>{point.title}</h3>
          <p>{point.desc}</p>
        </div>
        {/each}
      </div>
    </div>

  </div>
</section>