<script>
let lang
import { subLang } from '../lang/lang.js'
subLang.subscribe(v => lang = v)
</script>

<style>
section{ background-color:var(--base-color); padding:50px; }
.container{ max-width:1200px; padding:50px; background-color:#fff; }
h1{ font-size:3em; font-weight:500; }
p.pre{ color:var(--font-second-color); margin:30px 0px; }
p{ color:var(--font-color); }

@media( max-width:768px ){
  section{ padding:15px; }
  .container{ padding:15px; }
}
</style>
<section>
  <div class="container">
    <h1>{lang.whythis}</h1>
    <p class="pre">{lang.whyintro}</p>
    <p>{@html lang.intro}</p>
  </div>
</section>